<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_17_GetRes/button_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1105,342},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_17_GetRes/frame_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,268}</string>
                <key>spriteSourceSize</key>
                <string>{710,268}</string>
                <key>textureRect</key>
                <string>{{1,1},{710,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_17_GetRes/icon_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{176,132}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{571,271},{176,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_17_GetRes/icon_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{176,138}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{393,271},{176,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_17_GetRes/icon_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,339}</string>
                <key>spriteSourceSize</key>
                <string>{339,339}</string>
                <key>textureRect</key>
                <string>{{1105,1},{339,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_17_GetRes/icon_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{1175,342},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_17_GetRes/icon_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{393,411},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_17_GetRes/picture_009_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{390,202}</string>
                <key>spriteSourceSize</key>
                <string>{390,218}</string>
                <key>textureRect</key>
                <string>{{1,271},{390,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_17_GetRes/picture_009_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,218}</string>
                <key>spriteSourceSize</key>
                <string>{390,218}</string>
                <key>textureRect</key>
                <string>{{713,1},{390,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_17_GetRes/picture_009_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,218}</string>
                <key>spriteSourceSize</key>
                <string>{390,218}</string>
                <key>textureRect</key>
                <string>{{713,221},{390,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>01_17_GetRes_1.pvr</string>
            <key>size</key>
            <string>{1445,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5704a7cc717e150336643e73ba2dc0b:ef123d38d6f5c9489ac348ae37e88892:04370d8200a18adfeea94a32ddac2254$</string>
            <key>textureFileName</key>
            <string>01_17_GetRes_1.pvr</string>
        </dict>
    </dict>
</plist>
