<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03_04_Invitation/button_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{50,84}</string>
                <key>textureRect</key>
                <string>{{1269,341},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_04_Invitation/button_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{50,84}</string>
                <key>textureRect</key>
                <string>{{1589,209},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_04_Invitation/button_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{298,108}</string>
                <key>spriteSourceSize</key>
                <string>{298,118}</string>
                <key>textureRect</key>
                <string>{{657,235},{298,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/button_082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{138,80}</string>
                <key>spriteSourceSize</key>
                <string>{138,84}</string>
                <key>textureRect</key>
                <string>{{957,235},{138,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/button_082_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{138,80}</string>
                <key>spriteSourceSize</key>
                <string>{138,84}</string>
                <key>textureRect</key>
                <string>{{1097,235},{138,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/frame_064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{496,52}</string>
                <key>spriteSourceSize</key>
                <string>{496,58}</string>
                <key>textureRect</key>
                <string>{{771,345},{496,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/frame_065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,458}</string>
                <key>spriteSourceSize</key>
                <string>{50,458}</string>
                <key>textureRect</key>
                <string>{{1,365},{50,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_04_Invitation/frame_066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,308}</string>
                <key>spriteSourceSize</key>
                <string>{50,308}</string>
                <key>textureRect</key>
                <string>{{461,365},{50,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_04_Invitation/frame_067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,126}</string>
                <key>spriteSourceSize</key>
                <string>{654,126}</string>
                <key>textureRect</key>
                <string>{{1,237},{654,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/frame_068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1611,261},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/frame_069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1279,307},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/frame_070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1237,209},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/frame_134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1441,307},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/icon_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{84,96}</string>
                <key>textureRect</key>
                <string>{{1335,209},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/icon_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{84,96}</string>
                <key>textureRect</key>
                <string>{{1355,307},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/icon_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{84,96}</string>
                <key>textureRect</key>
                <string>{{1421,209},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/icon_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1507,209},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/icon_059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1529,291},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/picture_022_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{548,206}</string>
                <key>spriteSourceSize</key>
                <string>{576,260}</string>
                <key>textureRect</key>
                <string>{{1157,1},{548,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/picture_022_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{576,234}</string>
                <key>spriteSourceSize</key>
                <string>{576,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{576,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/picture_022_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{576,232}</string>
                <key>spriteSourceSize</key>
                <string>{576,260}</string>
                <key>textureRect</key>
                <string>{{579,1},{576,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/strip_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,22}</string>
                <key>spriteSourceSize</key>
                <string>{160,24}</string>
                <key>textureRect</key>
                <string>{{1119,317},{158,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_04_Invitation/strip_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,24}</string>
                <key>spriteSourceSize</key>
                <string>{160,24}</string>
                <key>textureRect</key>
                <string>{{957,317},{160,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>03_04_Invitation_1.pvr</string>
            <key>size</key>
            <string>{1706,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5666e58ec0a8832bcab7b6659d6e707d:9d6baee4ff54151dec9859554e97784d:dadc3744f324cced5ee71b21ed32e6b8$</string>
            <key>textureFileName</key>
            <string>03_04_Invitation_1.pvr</string>
        </dict>
    </dict>
</plist>
