<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03_03_Subscription/button_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,98}</string>
                <key>spriteSourceSize</key>
                <string>{242,98}</string>
                <key>textureRect</key>
                <string>{{297,997},{242,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/frame_218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,714}</string>
                <key>spriteSourceSize</key>
                <string>{330,714}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,714}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/frame_219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,714}</string>
                <key>spriteSourceSize</key>
                <string>{330,714}</string>
                <key>textureRect</key>
                <string>{{1,333},{330,714}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/frame_220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,714}</string>
                <key>spriteSourceSize</key>
                <string>{330,714}</string>
                <key>textureRect</key>
                <string>{{1,665},{330,714}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/frame_221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{534,294}</string>
                <key>spriteSourceSize</key>
                <string>{536,300}</string>
                <key>textureRect</key>
                <string>{{717,68},{534,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/frame_222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{534,294}</string>
                <key>spriteSourceSize</key>
                <string>{536,300}</string>
                <key>textureRect</key>
                <string>{{717,604},{534,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/frame_223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{534,294}</string>
                <key>spriteSourceSize</key>
                <string>{536,300}</string>
                <key>textureRect</key>
                <string>{{1,1140},{534,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/icon_141_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{865,1596},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/icon_141_zh_CH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{148,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{865,1140},{148,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/icon_141_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{148,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{865,1290},{148,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/icon_142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{160,154}</string>
                <key>spriteSourceSize</key>
                <string>{250,204}</string>
                <key>textureRect</key>
                <string>{{854,1440},{160,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/icon_143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{248,192}</string>
                <key>spriteSourceSize</key>
                <string>{250,204}</string>
                <key>textureRect</key>
                <string>{{328,1422},{248,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/icon_144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{250,198}</string>
                <key>spriteSourceSize</key>
                <string>{250,204}</string>
                <key>textureRect</key>
                <string>{{401,1222},{250,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/icon_145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{332,1241},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/icon_146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{65,1676},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/icon_147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,1676},{66,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/icon_148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{332,1297},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/icon_149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{332,1343},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/icon_150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{763,1140},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/icon_151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{807,1140},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/icon_152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{717,1140},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_115_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{286,55}</string>
                <key>spriteSourceSize</key>
                <string>{350,85}</string>
                <key>textureRect</key>
                <string>{{401,997},{286,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_115_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{228,77}</string>
                <key>spriteSourceSize</key>
                <string>{350,85}</string>
                <key>textureRect</key>
                <string>{{696,1440},{228,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/picture_115_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{228,77}</string>
                <key>spriteSourceSize</key>
                <string>{350,85}</string>
                <key>textureRect</key>
                <string>{{775,1440},{228,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/picture_116_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{280,57}</string>
                <key>spriteSourceSize</key>
                <string>{350,85}</string>
                <key>textureRect</key>
                <string>{{119,1676},{280,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_116_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{230,77}</string>
                <key>spriteSourceSize</key>
                <string>{350,85}</string>
                <key>textureRect</key>
                <string>{{401,1672},{230,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_116_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{230,77}</string>
                <key>spriteSourceSize</key>
                <string>{350,85}</string>
                <key>textureRect</key>
                <string>{{633,1670},{230,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_117_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{296,65}</string>
                <key>spriteSourceSize</key>
                <string>{350,85}</string>
                <key>textureRect</key>
                <string>{{717,1},{296,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_117_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{246,85}</string>
                <key>spriteSourceSize</key>
                <string>{350,85}</string>
                <key>textureRect</key>
                <string>{{522,1422},{246,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/picture_117_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,85}</string>
                <key>spriteSourceSize</key>
                <string>{350,85}</string>
                <key>textureRect</key>
                <string>{{609,1422},{246,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/picture_118_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{234,42}</string>
                <key>spriteSourceSize</key>
                <string>{264,54}</string>
                <key>textureRect</key>
                <string>{{734,1186},{234,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/picture_118_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{222,42}</string>
                <key>spriteSourceSize</key>
                <string>{264,54}</string>
                <key>textureRect</key>
                <string>{{1,997},{222,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_118_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{222,42}</string>
                <key>spriteSourceSize</key>
                <string>{264,54}</string>
                <key>textureRect</key>
                <string>{{1,1041},{222,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_119_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{264,54}</string>
                <key>textureRect</key>
                <string>{{696,1227},{196,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/picture_119_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{222,42}</string>
                <key>spriteSourceSize</key>
                <string>{264,54}</string>
                <key>textureRect</key>
                <string>{{1,1085},{222,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_119_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{224,42}</string>
                <key>spriteSourceSize</key>
                <string>{264,54}</string>
                <key>textureRect</key>
                <string>{{807,1184},{224,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/picture_120_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,54}</string>
                <key>spriteSourceSize</key>
                <string>{264,54}</string>
                <key>textureRect</key>
                <string>{{401,1054},{264,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_120_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,54}</string>
                <key>spriteSourceSize</key>
                <string>{264,54}</string>
                <key>textureRect</key>
                <string>{{401,1110},{264,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_120_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,54}</string>
                <key>spriteSourceSize</key>
                <string>{264,54}</string>
                <key>textureRect</key>
                <string>{{401,1166},{264,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_03_Subscription/picture_121_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{228,26}</string>
                <key>spriteSourceSize</key>
                <string>{228,30}</string>
                <key>textureRect</key>
                <string>{{689,997},{228,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/picture_122_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{250,29}</string>
                <key>spriteSourceSize</key>
                <string>{258,45}</string>
                <key>textureRect</key>
                <string>{{297,1422},{250,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/picture_122_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{176,33}</string>
                <key>spriteSourceSize</key>
                <string>{258,45}</string>
                <key>textureRect</key>
                <string>{{653,1222},{176,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_03_Subscription/picture_122_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{176,33}</string>
                <key>spriteSourceSize</key>
                <string>{258,45}</string>
                <key>textureRect</key>
                <string>{{297,1241},{176,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>03_03_Subscription_1.pvr</string>
            <key>size</key>
            <string>{1016,1750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db31d72c5eb9ca97a9048d9b7259adf5:e3449b6bd41da73fda86ee19c856b1a3:bfc10bc556240c1b244e2d913be97a1c$</string>
            <key>textureFileName</key>
            <string>03_03_Subscription_1.pvr</string>
        </dict>
    </dict>
</plist>
