<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_01_update/button_update_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{210,94}</string>
                <key>spriteSourceSize</key>
                <string>{214,100}</string>
                <key>textureRect</key>
                <string>{{663,367},{210,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_01_update/floor_update_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{660,648}</string>
                <key>spriteSourceSize</key>
                <string>{668,654}</string>
                <key>textureRect</key>
                <string>{{1,1},{660,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_01_update/strip_update_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{104,30}</string>
                <key>spriteSourceSize</key>
                <string>{108,36}</string>
                <key>textureRect</key>
                <string>{{673,1},{104,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_01_update/strip_update_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,8}</string>
                <key>spriteSourceSize</key>
                <string>{364,8}</string>
                <key>textureRect</key>
                <string>{{663,1},{364,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0_01_update.pvr</string>
            <key>size</key>
            <string>{758,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcda00155c9588676d897d64160e94c2:754f681269f9336d38438edb6720a079:4bb6fd75eb7da82342210398b6a40b5b$</string>
            <key>textureFileName</key>
            <string>0_01_update.pvr</string>
        </dict>
    </dict>
</plist>
