<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_07_logout/button_logout_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{210,94}</string>
                <key>spriteSourceSize</key>
                <string>{214,100}</string>
                <key>textureRect</key>
                <string>{{1,303},{210,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_07_logout/button_logout_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{210,94}</string>
                <key>spriteSourceSize</key>
                <string>{214,100}</string>
                <key>textureRect</key>
                <string>{{213,303},{210,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_07_logout/floor_logout_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{500,300}</string>
                <key>spriteSourceSize</key>
                <string>{506,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0_07_logout.pvr</string>
            <key>size</key>
            <string>{502,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36382583ca7ec3c4596c5c569ba9d0e9:0f6f1fd0fce619228c5b67305827d6ad:71de0a05c8082743f730a71b65d83c58$</string>
            <key>textureFileName</key>
            <string>0_07_logout.pvr</string>
        </dict>
    </dict>
</plist>
