<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>picture/0102/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0102/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{31,97},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0102/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{31,1},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0102/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{1,25},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0102/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{31,25},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0102/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{1,49},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0102/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{31,49},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0102/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{1,73},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0102/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{31,73},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0102/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{1,97},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>102_1.pvr.ccz</string>
            <key>size</key>
            <string>{62,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66b52f956b8301b50f5d9577899c2544:23fe3ea4e262b7cf1d3ba9d0fcaf41eb:e2d75d347a2a97caabb08d48b1b5c9b2$</string>
            <key>textureFileName</key>
            <string>102_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
