<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_04_Task/button_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{208,94}</string>
                <key>spriteSourceSize</key>
                <string>{208,98}</string>
                <key>textureRect</key>
                <string>{{287,113},{208,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_04_Task/button_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,78}</string>
                <key>spriteSourceSize</key>
                <string>{48,78}</string>
                <key>textureRect</key>
                <string>{{676,85},{48,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_04_Task/button_085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{138,80}</string>
                <key>spriteSourceSize</key>
                <string>{138,84}</string>
                <key>textureRect</key>
                <string>{{941,59},{138,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_04_Task/frame_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,1078}</string>
                <key>spriteSourceSize</key>
                <string>{56,1078}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,1078}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_04_Task/frame_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,158}</string>
                <key>spriteSourceSize</key>
                <string>{52,158}</string>
                <key>textureRect</key>
                <string>{{497,175},{52,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_04_Task/frame_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,104}</string>
                <key>textureRect</key>
                <string>{{726,149},{96,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_04_Task/frame_059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,104}</string>
                <key>textureRect</key>
                <string>{{832,149},{96,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_04_Task/icon_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,106}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{941,141},{94,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_04_Task/picture_021_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,108}</string>
                <key>spriteSourceSize</key>
                <string>{284,108}</string>
                <key>textureRect</key>
                <string>{{1,113},{284,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_04_Task/picture_021_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-10}</string>
                <key>spriteSize</key>
                <string>{176,88}</string>
                <key>spriteSourceSize</key>
                <string>{284,108}</string>
                <key>textureRect</key>
                <string>{{763,59},{176,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_04_Task/picture_021_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-10}</string>
                <key>spriteSize</key>
                <string>{177,88}</string>
                <key>spriteSourceSize</key>
                <string>{283,108}</string>
                <key>textureRect</key>
                <string>{{497,85},{177,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_04_Task/strip_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,22}</string>
                <key>spriteSourceSize</key>
                <string>{284,24}</string>
                <key>textureRect</key>
                <string>{{1,223},{282,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_04_Task/strip_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,24}</string>
                <key>spriteSourceSize</key>
                <string>{284,24}</string>
                <key>textureRect</key>
                <string>{{477,59},{284,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_04_Task/strip_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,22}</string>
                <key>spriteSourceSize</key>
                <string>{474,28}</string>
                <key>textureRect</key>
                <string>{{1,89},{468,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_04_Task/strip_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,28}</string>
                <key>spriteSourceSize</key>
                <string>{474,28}</string>
                <key>textureRect</key>
                <string>{{1,59},{474,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>01_04_Task_1.pvr</string>
            <key>size</key>
            <string>{1080,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bddf0485d7a105ec9f0a2f9b5bf0a263:011dc92e3321b6fc21933d4d33cca447:58656116a2d858e602e854046be8e764$</string>
            <key>textureFileName</key>
            <string>01_04_Task_1.pvr</string>
        </dict>
    </dict>
</plist>
