<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>picture/0050/101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{150,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{317,271},{150,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picture/0050/102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{150,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,451},{150,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{160,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{163,109},{160,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/103002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{96,144}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{1,787},{96,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picture/0050/103003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{102,140}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{325,1},{102,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/103004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{112,144}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{305,575},{112,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/103005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,156}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{159,215},{100,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picture/0050/103006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,160}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{163,1},{106,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picture/0050/103007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{106,156}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{1,113},{106,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picture/0050/103008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{112,152}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{1,221},{112,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picture/0050/103009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{325,143},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/103010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{104,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{305,721},{104,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/103011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,160}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picture/0050/104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{152,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{155,317},{152,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{150,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,677},{150,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{150,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{153,769},{150,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{150,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,565},{150,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{150,112}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{153,543},{150,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{150,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,335},{150,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{150,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{153,657},{150,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0050/205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{150,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{309,423},{150,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picture/0050/206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{150,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{153,427},{150,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>050_1.pvr.ccz</string>
            <key>size</key>
            <string>{428,884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7906e83d5f72f420f6cd0ebff011bb86:56b3a0dd1172bbad6c1093a43bf67760:72dca607bb0fb8f2cb6b0079665c4d1b$</string>
            <key>textureFileName</key>
            <string>050_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
