<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/106004/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-14}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{211,949},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-12}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1239},{102,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-11}</string>
                <key>spriteSize</key>
                <string>{102,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{701,1091},{102,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-10}</string>
                <key>spriteSize</key>
                <string>{102,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{433,1027},{102,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-8}</string>
                <key>spriteSize</key>
                <string>{102,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{315,929},{102,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-7}</string>
                <key>spriteSize</key>
                <string>{102,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{847,107},{102,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-7}</string>
                <key>spriteSize</key>
                <string>{102,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{847,211},{102,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-7}</string>
                <key>spriteSize</key>
                <string>{102,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{745,987},{102,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-10}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{585,1021},{104,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-14}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{549,1127},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-18}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{863,987},{114,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-22}</string>
                <key>spriteSize</key>
                <string>{116,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{467,921},{116,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-22}</string>
                <key>spriteSize</key>
                <string>{120,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{847,1},{120,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-22}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{617,915},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-22}</string>
                <key>spriteSize</key>
                <string>{134,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{761,881},{134,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-22}</string>
                <key>spriteSize</key>
                <string>{138,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{829,617},{138,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-21}</string>
                <key>spriteSize</key>
                <string>{142,108}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{617,805},{142,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-17}</string>
                <key>spriteSize</key>
                <string>{146,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{847,315},{146,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{148,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{467,795},{148,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{150,132}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{315,795},{150,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{152,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{829,463},{152,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,801},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{161,795},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{161,643},{150,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{493,643},{150,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{152,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,489},{152,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{815,723},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{146,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{319,647},{146,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{152,160}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{493,489},{152,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{156,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{511,169},{156,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{173,165},{160,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{162,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{167,327},{162,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{505,327},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,323},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{513,1},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{168,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{343,1},{168,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{160,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{331,487},{160,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{160,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{341,325},{160,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{162,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{173,1},{162,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{164,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{681,1},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{164,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{343,159},{164,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{166,154}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,167},{166,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{156,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,643},{156,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{156,160}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{667,487},{156,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{156,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{167,485},{156,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{681,167},{158,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{655,645},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{158,160}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{667,327},{158,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-20}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1131},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-19}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{109,1131},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{211,1239},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{317,1245},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{423,1245},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{847,1209},{102,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,949},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{105,949},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{529,1239},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{635,1239},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{425,1131},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{317,1139},{106,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{815,1103},{106,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106004/0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{741,1209},{106,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{105,1239},{108,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106004/0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{315,1033},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>106004_1.pvr.ccz</string>
            <key>size</key>
            <string>{970,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9db88b28ab25bb081e1338c959317f8:d00ceb9eb375922d5f77d86ff9b44e5e:4d4240d8205f2c9fc28e7b0edbf2edb1$</string>
            <key>textureFileName</key>
            <string>106004_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
