<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_01_login/bg_login_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1624}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_01_login/button_login_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{1775,801},{40,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_01_login/button_login_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{1775,753},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_login/picture_login_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,360}</string>
                <key>spriteSourceSize</key>
                <string>{750,360}</string>
                <key>textureRect</key>
                <string>{{1627,1},{750,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_01_login/strip_login_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,92}</string>
                <key>spriteSourceSize</key>
                <string>{592,92}</string>
                <key>textureRect</key>
                <string>{{1181,753},{592,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_login/strip_login_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{592,100}</string>
                <key>spriteSourceSize</key>
                <string>{594,100}</string>
                <key>textureRect</key>
                <string>{{1,753},{592,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_login/strip_login_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{584,94}</string>
                <key>spriteSourceSize</key>
                <string>{594,100}</string>
                <key>textureRect</key>
                <string>{{595,753},{584,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_login/strip_login_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,1}</string>
                <key>spriteSourceSize</key>
                <string>{153,1}</string>
                <key>textureRect</key>
                <string>{{595,849},{153,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_01_login.pvr</string>
            <key>size</key>
            <string>{1988,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c4558ef311553911c58c8e2bfe793f8:81cc51101bc12da7a0c24ebe3de1a9e6:1bf2e07cfa2ac9eed113261527cbbef2$</string>
            <key>textureFileName</key>
            <string>1_01_login.pvr</string>
        </dict>
    </dict>
</plist>
