<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03_08_NewWelfare/button_072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{264,102}</string>
                <key>spriteSourceSize</key>
                <string>{264,110}</string>
                <key>textureRect</key>
                <string>{{1385,1113},{264,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/button_074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{142,78}</string>
                <key>textureRect</key>
                <string>{{1961,1},{140,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/button_075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{142,78}</string>
                <key>textureRect</key>
                <string>{{1961,143},{140,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/button_076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{142,78}</string>
                <key>textureRect</key>
                <string>{{1961,285},{140,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/button_077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{142,78}</string>
                <key>textureRect</key>
                <string>{{1961,427},{140,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/frame_093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,144}</string>
                <key>spriteSourceSize</key>
                <string>{130,144}</string>
                <key>textureRect</key>
                <string>{{1097,1051},{130,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/frame_094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,624}</string>
                <key>spriteSourceSize</key>
                <string>{720,624}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/frame_095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,144}</string>
                <key>spriteSourceSize</key>
                <string>{130,144}</string>
                <key>textureRect</key>
                <string>{{1789,637},{130,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/frame_096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,126}</string>
                <key>spriteSourceSize</key>
                <string>{376,126}</string>
                <key>textureRect</key>
                <string>{{1,1121},{376,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/frame_098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,144}</string>
                <key>spriteSourceSize</key>
                <string>{130,144}</string>
                <key>textureRect</key>
                <string>{{1783,1115},{130,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/frame_099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1929,1107},{106,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/frame_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,196}</string>
                <key>spriteSourceSize</key>
                <string>{516,196}</string>
                <key>textureRect</key>
                <string>{{715,853},{516,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/frame_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,126}</string>
                <key>spriteSourceSize</key>
                <string>{376,126}</string>
                <key>textureRect</key>
                <string>{{379,1121},{376,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/frame_102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,126}</string>
                <key>spriteSourceSize</key>
                <string>{376,126}</string>
                <key>textureRect</key>
                <string>{{1411,637},{376,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/frame_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,56}</string>
                <key>spriteSourceSize</key>
                <string>{130,56}</string>
                <key>textureRect</key>
                <string>{{1725,1101},{130,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/frame_110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1937,569},{98,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/frame_111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1937,669},{98,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/frame_112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{40,100}</string>
                <key>textureRect</key>
                <string>{{1937,769},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/frame_113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{40,100}</string>
                <key>textureRect</key>
                <string>{{1937,811},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/frame_114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{40,100}</string>
                <key>textureRect</key>
                <string>{{1937,853},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/frame_115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{40,100}</string>
                <key>textureRect</key>
                <string>{{1937,895},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/frame_208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{720,666}</string>
                <key>spriteSourceSize</key>
                <string>{720,674}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,666}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/icon_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1937,1057},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_023_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1897,457},{62,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_023_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1883,487},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_023_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1883,487},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_024_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1973,937},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_024_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1883,517},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_024_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1883,517},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_025_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1787,1081},{62,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_025_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1929,1215},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_025_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1929,1215},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_026_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1973,967},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_026_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1383,1217},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_026_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1383,1217},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_027_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1973,997},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_027_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,26}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1097,1197},{76,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_027_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,26}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1097,1197},{76,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_028_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1973,1027},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_028_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1229,1187},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_028_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{1229,1187},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_029_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{130,72}</string>
                <key>spriteSourceSize</key>
                <string>{134,74}</string>
                <key>textureRect</key>
                <string>{{1651,1113},{130,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/picture_029_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{132,72}</string>
                <key>spriteSourceSize</key>
                <string>{134,74}</string>
                <key>textureRect</key>
                <string>{{1785,783},{132,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_029_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{132,72}</string>
                <key>spriteSourceSize</key>
                <string>{134,74}</string>
                <key>textureRect</key>
                <string>{{1785,783},{132,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_030_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{372,110}</string>
                <key>spriteSourceSize</key>
                <string>{436,116}</string>
                <key>textureRect</key>
                <string>{{1411,765},{372,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_030_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,116}</string>
                <key>spriteSourceSize</key>
                <string>{436,116}</string>
                <key>textureRect</key>
                <string>{{1385,877},{336,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_030_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,116}</string>
                <key>spriteSourceSize</key>
                <string>{436,116}</string>
                <key>textureRect</key>
                <string>{{1385,995},{336,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_031_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,26}</string>
                <key>spriteSourceSize</key>
                <string>{286,30}</string>
                <key>textureRect</key>
                <string>{{1909,857},{248,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/picture_031_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{254,26}</string>
                <key>spriteSourceSize</key>
                <string>{286,30}</string>
                <key>textureRect</key>
                <string>{{1881,857},{254,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/picture_031_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{256,28}</string>
                <key>spriteSourceSize</key>
                <string>{286,30}</string>
                <key>textureRect</key>
                <string>{{1851,857},{256,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/picture_032_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{436,152}</string>
                <key>spriteSourceSize</key>
                <string>{490,160}</string>
                <key>textureRect</key>
                <string>{{1445,483},{436,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_032_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{332,150}</string>
                <key>spriteSourceSize</key>
                <string>{490,160}</string>
                <key>textureRect</key>
                <string>{{1233,853},{332,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/picture_032_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{338,152}</string>
                <key>spriteSourceSize</key>
                <string>{490,160}</string>
                <key>textureRect</key>
                <string>{{757,1051},{338,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,480}</string>
                <key>spriteSourceSize</key>
                <string>{450,480}</string>
                <key>textureRect</key>
                <string>{{1445,1},{450,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_034_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,48}</string>
                <key>textureRect</key>
                <string>{{1937,937},{102,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/picture_034_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{106,48}</string>
                <key>textureRect</key>
                <string>{{1883,547},{74,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/picture_034_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{106,48}</string>
                <key>textureRect</key>
                <string>{{1307,1187},{74,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_035_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{172,42}</string>
                <key>spriteSourceSize</key>
                <string>{178,46}</string>
                <key>textureRect</key>
                <string>{{757,1205},{172,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_035_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{120,42}</string>
                <key>spriteSourceSize</key>
                <string>{178,46}</string>
                <key>textureRect</key>
                <string>{{931,1205},{120,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_035_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{120,42}</string>
                <key>spriteSourceSize</key>
                <string>{178,46}</string>
                <key>textureRect</key>
                <string>{{931,1205},{120,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{715,1051},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_037_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{454,62}</string>
                <key>spriteSourceSize</key>
                <string>{470,86}</string>
                <key>textureRect</key>
                <string>{{1897,1},{454,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/picture_037_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{222,62}</string>
                <key>spriteSourceSize</key>
                <string>{470,86}</string>
                <key>textureRect</key>
                <string>{{1723,877},{222,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/picture_037_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{222,62}</string>
                <key>spriteSourceSize</key>
                <string>{470,86}</string>
                <key>textureRect</key>
                <string>{{1787,857},{222,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_08_NewWelfare/picture_048_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{712,224}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{1,669},{712,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_048_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{712,224}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{1,895},{712,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_08_NewWelfare/picture_048_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-1}</string>
                <key>spriteSize</key>
                <string>{686,224}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{723,627},{686,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>03_08_NewWelfare_1.pvr</string>
            <key>size</key>
            <string>{2038,1248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3709c81f422e4d7736552746df01f48d:2760ff2371b19b893554489448e58a1f:99e7263462697348e40eae67af7ea703$</string>
            <key>textureFileName</key>
            <string>03_08_NewWelfare_1.pvr</string>
        </dict>
    </dict>
</plist>
