<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_03_PropKnapsack/button_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{323,41},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_03_PropKnapsack/button_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{375,41},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_03_PropKnapsack/frame_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{243,41},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_03_PropKnapsack/frame_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,968}</string>
                <key>spriteSourceSize</key>
                <string>{38,968}</string>
                <key>textureRect</key>
                <string>{{1,1},{38,968}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_03_PropKnapsack/frame_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{1451,1},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_03_PropKnapsack/frame_131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,62}</string>
                <key>spriteSourceSize</key>
                <string>{240,62}</string>
                <key>textureRect</key>
                <string>{{1,41},{240,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_03_PropKnapsack/frame_138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{1579,1},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_03_PropKnapsack/icon_079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{421,41},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_03_PropKnapsack/picture_013_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,114}</string>
                <key>spriteSourceSize</key>
                <string>{302,114}</string>
                <key>textureRect</key>
                <string>{{971,1},{302,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_03_PropKnapsack/picture_013_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-9}</string>
                <key>spriteSize</key>
                <string>{174,96}</string>
                <key>spriteSourceSize</key>
                <string>{302,114}</string>
                <key>textureRect</key>
                <string>{{1275,1},{174,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_03_PropKnapsack/picture_013_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-9}</string>
                <key>spriteSize</key>
                <string>{174,96}</string>
                <key>spriteSourceSize</key>
                <string>{302,114}</string>
                <key>textureRect</key>
                <string>{{1275,1},{174,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>01_03_PropKnapsack_1.pvr</string>
            <key>size</key>
            <string>{1706,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ff64afd8f886be8297dc070b4de2f63:201c394dcfa9971949e8750c2c4f59b2:531f3041fb48024353fa3e2276f0d0df$</string>
            <key>textureFileName</key>
            <string>01_03_PropKnapsack_1.pvr</string>
        </dict>
    </dict>
</plist>
