<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_07_Sitting/bg_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{229,97},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/bg_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1115,209},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/bg_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,118}</string>
                <key>spriteSourceSize</key>
                <string>{20,118}</string>
                <key>textureRect</key>
                <string>{{143,129},{20,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_07_Sitting/bg_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,126}</string>
                <key>spriteSourceSize</key>
                <string>{20,126}</string>
                <key>textureRect</key>
                <string>{{143,1},{20,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/button_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1197,171},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/button_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1267,171},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/button_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,56}</string>
                <key>textureRect</key>
                <string>{{1,151},{96,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_07_Sitting/button_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{290,94}</string>
                <key>spriteSourceSize</key>
                <string>{290,98}</string>
                <key>textureRect</key>
                <string>{{765,1},{290,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/button_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,92}</string>
                <key>spriteSourceSize</key>
                <string>{290,92}</string>
                <key>textureRect</key>
                <string>{{659,149},{290,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/button_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,68}</string>
                <key>spriteSourceSize</key>
                <string>{148,68}</string>
                <key>textureRect</key>
                <string>{{73,1},{148,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_07_Sitting/button_080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{148,70}</string>
                <key>spriteSourceSize</key>
                <string>{148,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_07_Sitting/button_084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{598,94}</string>
                <key>spriteSourceSize</key>
                <string>{598,98}</string>
                <key>textureRect</key>
                <string>{{59,151},{598,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/button_084_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{598,94}</string>
                <key>spriteSourceSize</key>
                <string>{598,98}</string>
                <key>textureRect</key>
                <string>{{165,1},{598,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/frame_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1337,171},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/frame_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,62}</string>
                <key>spriteSourceSize</key>
                <string>{30,62}</string>
                <key>textureRect</key>
                <string>{{165,97},{30,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_07_Sitting/frame_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,82}</string>
                <key>spriteSourceSize</key>
                <string>{574,82}</string>
                <key>textureRect</key>
                <string>{{1057,1},{574,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/frame_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,702}</string>
                <key>spriteSourceSize</key>
                <string>{50,702}</string>
                <key>textureRect</key>
                <string>{{313,97},{50,702}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_07_Sitting/frame_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{1061,85},{40,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_07_Sitting/frame_125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1401,171},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/icon_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{951,149},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/icon_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1033,147},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/icon_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1115,127},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/icon_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{1017,97},{48,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_07_Sitting/icon_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{263,97},{52,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_07_Sitting/icon_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{951,231},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/strip_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,26}</string>
                <key>spriteSourceSize</key>
                <string>{436,28}</string>
                <key>textureRect</key>
                <string>{{1197,115},{436,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/strip_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,28}</string>
                <key>spriteSourceSize</key>
                <string>{436,28}</string>
                <key>textureRect</key>
                <string>{{1197,85},{436,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_07_Sitting/strip_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,26}</string>
                <key>spriteSourceSize</key>
                <string>{436,28}</string>
                <key>textureRect</key>
                <string>{{1197,143},{436,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>01_07_Sitting_1.pvr</string>
            <key>size</key>
            <string>{1634,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:779d9800382f15ca001b31e9706d210e:45527537c79ec89daaa952493761d12e:4acebeb1b65937d6001aa9248bce927e$</string>
            <key>textureFileName</key>
            <string>01_07_Sitting_1.pvr</string>
        </dict>
    </dict>
</plist>
