<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_04_acquire/floor_acquire_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{712,270}</string>
                <key>spriteSourceSize</key>
                <string>{720,276}</string>
                <key>textureRect</key>
                <string>{{1,1},{712,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_04_acquire/icon_acquire_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{377,421},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_04_acquire/picture_acquire_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{437,273},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_04_acquire/picture_acquire_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{377,363},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_04_acquire/picture_acquire_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{509,273},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_04_acquire/picture_acquire_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{58,88}</string>
                <key>spriteSourceSize</key>
                <string>{68,90}</string>
                <key>textureRect</key>
                <string>{{377,273},{58,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_04_acquire/picture_acquire_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{715,1},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_04_acquire/picture_acquire_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,218}</string>
                <key>spriteSourceSize</key>
                <string>{390,236}</string>
                <key>textureRect</key>
                <string>{{1,273},{374,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0_04_acquire.pvr</string>
            <key>size</key>
            <string>{978,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e94c1db2fc12299d817440f11859745:9f9a673ed8e369d897202c07136bccef:71a7a5104860620de94aae41a2e7070c$</string>
            <key>textureFileName</key>
            <string>0_04_acquire.pvr</string>
        </dict>
    </dict>
</plist>
