<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>picture/0070/2001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{84,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0070/2002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{1,99},{84,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0070/2003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{1,196},{84,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0070/2004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{1,293},{84,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>070_1.pvr.ccz</string>
            <key>size</key>
            <string>{86,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12927ce927fc7b2671f05a3bccfab0ee:a2723611147d7ffe58b06b2c2bfea7c2:cb88e260906603e996b21d0bc4ddb8c1$</string>
            <key>textureFileName</key>
            <string>070_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
