<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Art/2002/0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,191},{133,161}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2002/0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,300},{91,160}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2002/0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,341},{122,161}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2002/0104.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,307},{124,166}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2002/0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,140},{139,161}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2002/0106.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,265},{127,164}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2002/0107.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,178},{127,167}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2002/0108.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,394},{119,161}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2002/0109.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,169},{129,170}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2002/0110.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,281},{125,165}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2002/0401.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,238},{101,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,63}</string>
			</dict>
			<key>Art/2002/0402.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1},{181,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,175}</string>
			</dict>
			<key>Art/2002/0403.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1},{188,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,143}</string>
			</dict>
			<key>Art/2002/0404.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,436},{88,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,69}</string>
			</dict>
			<key>Art/2002/0405.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,140},{91,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,53}</string>
			</dict>
			<key>Art/2002/0406.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,436},{103,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,93}</string>
			</dict>
			<key>Art/2002/0407.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,462},{86,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,108}</string>
			</dict>
			<key>Art/2002/0408.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,476},{97,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,86}</string>
			</dict>
			<key>Art/2002/0409.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,1},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>Art/2002/0410.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,624},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>Art/2002/0411.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,564},{88,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,79}</string>
			</dict>
			<key>Art/2002/0412.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,300},{134,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,138}</string>
			</dict>
			<key>Art/2002/0413.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,126},{110,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,70}</string>
			</dict>
			<key>Art/2002/0414.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,408},{110,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,133}</string>
			</dict>
			<key>Art/2002/0415.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,515},{107,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,113}</string>
			</dict>
			<key>Art/2002/0201_en.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{297,123}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,138}</string>
			</dict>
			<key>Art/2002/0201_zh_CN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,126},{224,137}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,138}</string>
			</dict>
			<key>Art/2002/0201_zh_TW.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1},{224,137}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,138}</string>
			</dict>
			<key>Art/2002/0301_en.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,354},{126,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,120}</string>
			</dict>
			<key>Art/2002/0301_zh_CN.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,433},{119,120}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,120}</string>
			</dict>
			<key>Art/2002/0301_zh_TW.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,504},{119,120}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>2002.png</string>
			<key>realTextureFileName</key>
			<string>2002.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>