<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Art/2004/0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,343},{178,203}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2004/0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1},{125,201}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2004/0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,581},{158,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2004/0104.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,421},{159,207}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2004/0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,343},{176,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2004/0106.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,547},{162,205}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2004/0107.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,413},{164,207}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2004/0108.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,622},{156,203}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2004/0109.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,413},{166,211}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2004/0110.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,523},{163,206}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>
			<key>Art/2004/0201_en.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,1},{340,197}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,208}</string>
			</dict>
			<key>Art/2004/0201_zh_CN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{340,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,208}</string>
			</dict>
			<key>Art/2004/0201_zh_TW.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1},{340,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,208}</string>
			</dict>
			<key>Art/2004/0301_en.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,211},{214,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,208}</string>
			</dict>
			<key>Art/2004/0301_zh_CN.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,211},{206,200}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,208}</string>
			</dict>
			<key>Art/2004/0301_zh_TW.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,211},{206,200}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,208}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>2004.png</string>
			<key>realTextureFileName</key>
			<string>2004.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>