<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Art/2010/0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,223},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,445},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,223},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,445},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,667},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,223},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,445},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,667},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,223},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,445},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,667},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,1},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,223},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,445},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,667},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,1},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,1},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,1},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,223},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,445},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,667},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,223},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,223},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Art/2010/0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,223},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>2010.png</string>
			<key>realTextureFileName</key>
			<string>2010.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>