<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Art/2016/0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,1302},{446,242}}</string>
				<key>offset</key>
				<string>{44,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,1139},{492,239}}</string>
				<key>offset</key>
				<string>{31,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,583},{529,237}}</string>
				<key>offset</key>
				<string>{14,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0104.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,870},{555,234}}</string>
				<key>offset</key>
				<string>{3,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1139},{561,232}}</string>
				<key>offset</key>
				<string>{1,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0106.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1133},{565,232}}</string>
				<key>offset</key>
				<string>{1,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0107.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,881},{567,250}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0108.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1139},{568,266}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0109.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,1},{568,269}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0110.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,312},{566,269}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0111.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,571},{566,267}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0112.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1709},{564,267}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,317},{562,265}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0114.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,583},{560,264}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0115.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,317},{557,262}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0116.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,317},{551,259}}</string>
				<key>offset</key>
				<string>{2,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0117.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,849},{542,256}}</string>
				<key>offset</key>
				<string>{5,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0118.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1393},{518,252}}</string>
				<key>offset</key>
				<string>{14,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0119.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,822},{478,248}}</string>
				<key>offset</key>
				<string>{28,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0120.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1373},{430,244}}</string>
				<key>offset</key>
				<string>{41,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0201_en.png</key>
			<dict>
				<key>frame</key>
				<string>{{2012,1},{66,26}}</string>
				<key>offset</key>
				<string>{163,-93}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0201_zh_CN.png</key>
			<dict>
				<key>frame</key>
				<string>{{2012,69},{54,31}}</string>
				<key>offset</key>
				<string>{157,-93}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0201_zh_TW.png</key>
			<dict>
				<key>frame</key>
				<string>{{2012,125},{53,31}}</string>
				<key>offset</key>
				<string>{156,-93}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0301_en.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,1},{580,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0301_zh_CN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{577,314}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
			<key>Art/2016/0301_zh_TW.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1},{577,314}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,316}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>2016.png</string>
			<key>realTextureFileName</key>
			<string>2016.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>