<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_01_scene/BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{743,1608}</string>
                <key>spriteSourceSize</key>
                <string>{743,1608}</string>
                <key>textureRect</key>
                <string>{{1,1},{743,1608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_01_scene/BarrackButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,84}</string>
                <key>spriteSourceSize</key>
                <string>{75,84}</string>
                <key>textureRect</key>
                <string>{{642,1611},{75,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_01_scene/FriendButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,83}</string>
                <key>spriteSourceSize</key>
                <string>{76,83}</string>
                <key>textureRect</key>
                <string>{{642,1765},{76,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_01_scene/MailButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{642,1843},{75,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_01_scene/PubButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,84}</string>
                <key>spriteSourceSize</key>
                <string>{75,84}</string>
                <key>textureRect</key>
                <string>{{642,1688},{75,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_01_scene/QuickGameButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,185}</string>
                <key>spriteSourceSize</key>
                <string>{381,185}</string>
                <key>textureRect</key>
                <string>{{1,1611},{381,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_01_scene/RankGameButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,196}</string>
                <key>spriteSourceSize</key>
                <string>{336,196}</string>
                <key>textureRect</key>
                <string>{{188,1611},{336,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_01_scene/ReceiveTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{64,18}</string>
                <key>textureRect</key>
                <string>{{188,1949},{64,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_01_scene/RecruitmentButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{386,1611},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_01_scene/SalaryButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{514,1611},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_01_scene/StoreButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{538,1864},{75,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_01_scene/TaskButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{386,1765},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_01_scene/TreasureBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,74}</string>
                <key>textureRect</key>
                <string>{{386,1893},{84,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_01_scene/TreasureBoxDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,74}</string>
                <key>textureRect</key>
                <string>{{462,1893},{84,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_01_scene/VipButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,123}</string>
                <key>spriteSourceSize</key>
                <string>{126,123}</string>
                <key>textureRect</key>
                <string>{{514,1739},{126,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_01_scene.pvr</string>
            <key>size</key>
            <string>{745,1993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bca049ef8d72d5429e4a5a41561e051d:074253bc77939aefc276c7a66674871d:a530f7000615bb473279a355129179f6$</string>
            <key>textureFileName</key>
            <string>2_01_scene.pvr</string>
        </dict>
    </dict>
</plist>
