<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/106001/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{78,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106001/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{78,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>106001_1.pvr.ccz</string>
            <key>size</key>
            <string>{80,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b083e4b3478882a64e05932faa0365bb:931815ca6db4fa28d4855bc6637f13ed:344562fe6819f60a5721404487ad484d$</string>
            <key>textureFileName</key>
            <string>106001_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
