<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/106012/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,44}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{499,895},{84,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,44}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{891,923},{84,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,37}</string>
                <key>spriteSize</key>
                <string>{118,102}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{395,895},{118,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,37}</string>
                <key>spriteSize</key>
                <string>{120,102}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{291,891},{120,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,34}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{591,893},{148,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,34}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{741,907},{148,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,22}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{431,759},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,22}</string>
                <key>spriteSize</key>
                <string>{160,134}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{605,757},{160,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,20}</string>
                <key>spriteSize</key>
                <string>{162,136}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{153,665},{162,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,20}</string>
                <key>spriteSize</key>
                <string>{164,136}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{153,499},{164,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,20}</string>
                <key>spriteSize</key>
                <string>{168,136}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{295,441},{168,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,20}</string>
                <key>spriteSize</key>
                <string>{172,136}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{941,485},{172,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,20}</string>
                <key>spriteSize</key>
                <string>{172,136}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{303,303},{172,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{160,136}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{153,829},{160,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{160,138}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{443,619},{160,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,19}</string>
                <key>spriteSize</key>
                <string>{160,138}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{291,729},{160,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{162,142}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{477,303},{162,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{166,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{153,331},{166,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,18}</string>
                <key>spriteSize</key>
                <string>{168,142}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{957,163},{168,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{172,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{162,146}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{783,303},{162,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,14}</string>
                <key>spriteSize</key>
                <string>{166,146}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{631,1},{166,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{152,148}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{925,773},{152,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{291,579},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{773,755},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{465,467},{150,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{619,605},{150,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{621,453},{150,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{947,333},{150,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{777,603},{150,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{783,451},{150,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{150,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{303,151},{150,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{150,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{463,151},{150,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{150,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{623,301},{150,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{799,1},{150,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{631,149},{150,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{150,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,175},{150,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{961,1},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{147,1},{150,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,339},{150,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,503},{150,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,667},{150,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,831},{150,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{148,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{793,153},{148,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{148,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{153,165},{148,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106012/0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{299,1},{148,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{465,1},{148,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106012/0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{148,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{933,623},{148,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>106012_1.pvr.ccz</string>
            <key>size</key>
            <string>{1114,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:def5b1bd6d44d74538403b4d3fed1a8c:0a07216c9f7613446bf60f12bcc743c6:29fe4ec44a8684dbcdf139065788f708$</string>
            <key>textureFileName</key>
            <string>106012_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
