<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/106009/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{114,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1469},{114,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106009/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{122,138}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{133,905},{122,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{126,148}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,763},{126,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{130,152}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,157},{130,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{132,154}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,13}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{109,1585},{108,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{133,1471},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106009/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{114,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{135,1045},{114,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{122,134}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{133,1335},{122,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{126,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{129,763},{126,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{130,142}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,913},{130,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,617},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{106,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{109,1715},{106,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106009/0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{106,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{135,1171},{106,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{114,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{135,1},{114,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{122,146}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{133,157},{122,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{126,150}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,465},{126,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{130,152}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,311},{130,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-6}</string>
                <key>spriteSize</key>
                <string>{132,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1057},{132,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{106,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{135,1171},{106,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{106,136}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1585},{106,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{114,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{135,617},{114,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{122,146}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{133,305},{122,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{126,150}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{129,465},{126,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1335},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1199},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106009/0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1723},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>106009_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:554a5571f71f490097f89f93137a9096:3214b807c38d802732d6214775ee4f45:0e2960d239bdf98e18314bddb1355633$</string>
            <key>textureFileName</key>
            <string>106009_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
