<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_01_register/AppleButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,89}</string>
                <key>spriteSourceSize</key>
                <string>{556,89}</string>
                <key>textureRect</key>
                <string>{{4,753},{556,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_register/BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{595,409}</string>
                <key>spriteSourceSize</key>
                <string>{595,409}</string>
                <key>textureRect</key>
                <string>{{1627,1},{595,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_01_register/CloseButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1787,789},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_register/FacebookButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,89}</string>
                <key>spriteSourceSize</key>
                <string>{556,89}</string>
                <key>textureRect</key>
                <string>{{562,753},{556,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_register/GuestButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,52}</string>
                <key>spriteSourceSize</key>
                <string>{181,52}</string>
                <key>textureRect</key>
                <string>{{1733,654},{181,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_01_register/LauncherBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1624}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_01_register/Line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,1}</string>
                <key>spriteSourceSize</key>
                <string>{106,1}</string>
                <key>textureRect</key>
                <string>{{1,753},{106,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_01_register/LoadingBarBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,24}</string>
                <key>spriteSourceSize</key>
                <string>{594,24}</string>
                <key>textureRect</key>
                <string>{{6,844},{594,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_register/LodingBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,20}</string>
                <key>spriteSourceSize</key>
                <string>{593,20}</string>
                <key>textureRect</key>
                <string>{{602,844},{593,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_register/LoginButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,59}</string>
                <key>spriteSourceSize</key>
                <string>{133,59}</string>
                <key>textureRect</key>
                <string>{{1787,654},{133,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_01_register/UserButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,53}</string>
                <key>spriteSourceSize</key>
                <string>{182,53}</string>
                <key>textureRect</key>
                <string>{{1678,654},{182,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_01_register/WechatButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,89}</string>
                <key>spriteSourceSize</key>
                <string>{556,89}</string>
                <key>textureRect</key>
                <string>{{1120,753},{556,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_register/input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,54}</string>
                <key>spriteSourceSize</key>
                <string>{392,54}</string>
                <key>textureRect</key>
                <string>{{1627,598},{392,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01_register/touming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23.5,23.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1,861},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_01_register.pvr</string>
            <key>size</key>
            <string>{2037,869}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c142cf728a48850702b0db9148cad335:d35193aaf2ab8df28f118d7c959d0baf:4e6406f86d00a435f8b522fdf7d549b9$</string>
            <key>textureFileName</key>
            <string>1_01_register.pvr</string>
        </dict>
    </dict>
</plist>
