<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_06_guess/button_guess_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{210,94}</string>
                <key>spriteSourceSize</key>
                <string>{216,100}</string>
                <key>textureRect</key>
                <string>{{1,1277},{210,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_06_guess/button_guess_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{210,94}</string>
                <key>spriteSourceSize</key>
                <string>{216,100}</string>
                <key>textureRect</key>
                <string>{{213,1225},{210,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_06_guess/floor_guess_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{572,184}</string>
                <key>spriteSourceSize</key>
                <string>{572,186}</string>
                <key>textureRect</key>
                <string>{{1,703},{572,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_06_guess/floor_guess_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{148,70}</string>
                <key>spriteSourceSize</key>
                <string>{150,72}</string>
                <key>textureRect</key>
                <string>{{1,1373},{148,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_06_guess/floor_guess_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,70}</string>
                <key>spriteSourceSize</key>
                <string>{78,72}</string>
                <key>textureRect</key>
                <string>{{309,1353},{78,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_06_guess/floor_guess_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{700,406}</string>
                <key>spriteSourceSize</key>
                <string>{708,412}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_06_guess/picture_guess_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,182}</string>
                <key>spriteSourceSize</key>
                <string>{520,182}</string>
                <key>textureRect</key>
                <string>{{187,703},{520,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_06_guess/picture_guess_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,88}</string>
                <key>spriteSourceSize</key>
                <string>{126,88}</string>
                <key>textureRect</key>
                <string>{{309,1225},{126,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_06_guess/picture_guess_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{151,1373},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0_06_guess.pvr</string>
            <key>size</key>
            <string>{408,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cc4359d1d8d68e0235ed334641040c8:b9adf4cba3510c6e21e57374da4743ab:d54bf08fd5c266b445aca222b977186f$</string>
            <key>textureFileName</key>
            <string>0_06_guess.pvr</string>
        </dict>
    </dict>
</plist>
