<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03_10_OperateGiftBag/frame_105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,330}</string>
                <key>spriteSourceSize</key>
                <string>{410,330}</string>
                <key>textureRect</key>
                <string>{{1,691},{410,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/frame_106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,304}</string>
                <key>spriteSourceSize</key>
                <string>{410,304}</string>
                <key>textureRect</key>
                <string>{{413,691},{410,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/frame_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{1601,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/icon_060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1205,619},{34,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_10_OperateGiftBag/icon_061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1205,581},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/picture_043_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,140}</string>
                <key>spriteSourceSize</key>
                <string>{308,198}</string>
                <key>textureRect</key>
                <string>{{1325,853},{304,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/picture_043_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{270,174}</string>
                <key>spriteSourceSize</key>
                <string>{308,198}</string>
                <key>textureRect</key>
                <string>{{1329,1},{270,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/picture_043_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{270,174}</string>
                <key>spriteSourceSize</key>
                <string>{308,198}</string>
                <key>textureRect</key>
                <string>{{1329,177},{270,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/picture_044_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{312,134}</string>
                <key>spriteSourceSize</key>
                <string>{438,200}</string>
                <key>textureRect</key>
                <string>{{1329,353},{312,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/picture_044_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{386,134}</string>
                <key>spriteSourceSize</key>
                <string>{438,200}</string>
                <key>textureRect</key>
                <string>{{1325,717},{386,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/picture_044_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{388,134}</string>
                <key>spriteSourceSize</key>
                <string>{438,200}</string>
                <key>textureRect</key>
                <string>{{1325,581},{388,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/picture_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,656}</string>
                <key>spriteSourceSize</key>
                <string>{600,656}</string>
                <key>textureRect</key>
                <string>{{603,1},{600,656}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/picture_046_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,122}</string>
                <key>spriteSourceSize</key>
                <string>{648,200}</string>
                <key>textureRect</key>
                <string>{{1205,1},{578,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_10_OperateGiftBag/picture_046_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,174}</string>
                <key>spriteSourceSize</key>
                <string>{648,200}</string>
                <key>textureRect</key>
                <string>{{825,659},{498,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/picture_046_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{498,174}</string>
                <key>spriteSourceSize</key>
                <string>{648,200}</string>
                <key>textureRect</key>
                <string>{{825,835},{498,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_10_OperateGiftBag/picture_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,600}</string>
                <key>spriteSourceSize</key>
                <string>{688,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{688,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>03_10_OperateGiftBag_1.pvr</string>
            <key>size</key>
            <string>{1722,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c17a29679cfca51908d8724f307099d:5911a1ffde0f2040b6602a35fc262189:c1598e50ceaca9f50607e761bbe5e023$</string>
            <key>textureFileName</key>
            <string>03_10_OperateGiftBag_1.pvr</string>
        </dict>
    </dict>
</plist>
