<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_11_ActivitiesBulletin/button_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{198,94}</string>
                <key>spriteSourceSize</key>
                <string>{198,98}</string>
                <key>textureRect</key>
                <string>{{1296,871},{198,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/frame_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{686,808}</string>
                <key>spriteSourceSize</key>
                <string>{686,816}</string>
                <key>textureRect</key>
                <string>{{1,1},{686,808}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/frame_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{98,160}</string>
                <key>spriteSourceSize</key>
                <string>{98,164}</string>
                <key>textureRect</key>
                <string>{{1617,763},{98,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/frame_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,1086}</string>
                <key>spriteSourceSize</key>
                <string>{48,1086}</string>
                <key>textureRect</key>
                <string>{{689,1},{48,1086}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_11_ActivitiesBulletin/frame_117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{712,238}</string>
                <key>spriteSourceSize</key>
                <string>{712,248}</string>
                <key>textureRect</key>
                <string>{{689,51},{712,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/frame_120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{686,210}</string>
                <key>spriteSourceSize</key>
                <string>{686,210}</string>
                <key>textureRect</key>
                <string>{{689,291},{686,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/icon_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{1335,715},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_004_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,122}</string>
                <key>spriteSourceSize</key>
                <string>{376,122}</string>
                <key>textureRect</key>
                <string>{{1377,639},{376,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_004_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-8}</string>
                <key>spriteSize</key>
                <string>{280,106}</string>
                <key>spriteSourceSize</key>
                <string>{376,122}</string>
                <key>textureRect</key>
                <string>{{1335,763},{280,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_004_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-7}</string>
                <key>spriteSize</key>
                <string>{280,108}</string>
                <key>spriteSourceSize</key>
                <string>{376,122}</string>
                <key>textureRect</key>
                <string>{{395,857},{280,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,110}</string>
                <key>spriteSourceSize</key>
                <string>{152,112}</string>
                <key>textureRect</key>
                <string>{{1181,715},{152,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{686,210}</string>
                <key>spriteSourceSize</key>
                <string>{686,210}</string>
                <key>textureRect</key>
                <string>{{689,503},{686,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_040_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{474,156}</string>
                <key>spriteSourceSize</key>
                <string>{484,184}</string>
                <key>textureRect</key>
                <string>{{705,715},{474,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_040_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-12}</string>
                <key>spriteSize</key>
                <string>{376,160}</string>
                <key>spriteSourceSize</key>
                <string>{484,184}</string>
                <key>textureRect</key>
                <string>{{1377,477},{376,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_040_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-13}</string>
                <key>spriteSize</key>
                <string>{398,158}</string>
                <key>spriteSourceSize</key>
                <string>{484,184}</string>
                <key>textureRect</key>
                <string>{{1377,317},{398,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_041_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{178,54}</string>
                <key>spriteSourceSize</key>
                <string>{218,60}</string>
                <key>textureRect</key>
                <string>{{1717,763},{178,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_041_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,60}</string>
                <key>spriteSourceSize</key>
                <string>{218,60}</string>
                <key>textureRect</key>
                <string>{{677,927},{218,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_041_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,60}</string>
                <key>spriteSourceSize</key>
                <string>{218,60}</string>
                <key>textureRect</key>
                <string>{{897,927},{218,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_042_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,52}</string>
                <key>spriteSourceSize</key>
                <string>{419,60}</string>
                <key>textureRect</key>
                <string>{{677,873},{419,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_042_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,60}</string>
                <key>spriteSourceSize</key>
                <string>{419,60}</string>
                <key>textureRect</key>
                <string>{{1181,827},{113,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_042_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,60}</string>
                <key>spriteSourceSize</key>
                <string>{419,60}</string>
                <key>textureRect</key>
                <string>{{1181,827},{113,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_055_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,10}</string>
                <key>spriteSize</key>
                <string>{392,130}</string>
                <key>spriteSourceSize</key>
                <string>{410,150}</string>
                <key>textureRect</key>
                <string>{{1,857},{392,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_055_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,10}</string>
                <key>spriteSize</key>
                <string>{352,130}</string>
                <key>spriteSourceSize</key>
                <string>{410,150}</string>
                <key>textureRect</key>
                <string>{{1403,185},{352,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/picture_055_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,9}</string>
                <key>spriteSize</key>
                <string>{352,132}</string>
                <key>spriteSourceSize</key>
                <string>{410,150}</string>
                <key>textureRect</key>
                <string>{{1403,51},{352,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/strip_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,44}</string>
                <key>spriteSourceSize</key>
                <string>{702,44}</string>
                <key>textureRect</key>
                <string>{{1,811},{702,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_11_ActivitiesBulletin/strip_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,4}</string>
                <key>spriteSourceSize</key>
                <string>{30,4}</string>
                <key>textureRect</key>
                <string>{{689,715},{30,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_11_ActivitiesBulletin/strip_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,28}</string>
                <key>textureRect</key>
                <string>{{1496,871},{100,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>01_11_ActivitiesBulletin_1.pvr</string>
            <key>size</key>
            <string>{1776,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16fa485137aaeeb0acb1ebe29af908c:0d9c8b96238fe8db0b076ee028be34c7:520333857ba89b8f8332160284e63d5f$</string>
            <key>textureFileName</key>
            <string>01_11_ActivitiesBulletin_1.pvr</string>
        </dict>
    </dict>
</plist>
