<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>04_01_Chat/button_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1367},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/button_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{67,1367},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/button_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{133,1375},{58,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/button_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{675,861},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/button_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{193,1375},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/button_059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{604,1345},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/button_060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{664,1375},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/button_061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{292,1331},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/button_081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{350,1259},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{418,1259},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,106}</string>
                <key>spriteSourceSize</key>
                <string>{76,106}</string>
                <key>textureRect</key>
                <string>{{1,1259},{76,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,484}</string>
                <key>spriteSourceSize</key>
                <string>{12,484}</string>
                <key>textureRect</key>
                <string>{{1,1245},{12,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04_01_Chat/frame_074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{247,1369},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,1280}</string>
                <key>spriteSourceSize</key>
                <string>{6,1280}</string>
                <key>textureRect</key>
                <string>{{723,1},{6,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{309,1369},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{418,1321},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,620}</string>
                <key>spriteSourceSize</key>
                <string>{520,620}</string>
                <key>textureRect</key>
                <string>{{1,623},{520,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{480,1345},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{542,1345},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,36}</string>
                <key>spriteSourceSize</key>
                <string>{122,36}</string>
                <key>textureRect</key>
                <string>{{675,689},{122,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04_01_Chat/frame_082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{675,1283},{90,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04_01_Chat/frame_083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,150}</string>
                <key>spriteSourceSize</key>
                <string>{720,150}</string>
                <key>textureRect</key>
                <string>{{523,623},{720,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04_01_Chat/frame_084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,620}</string>
                <key>spriteSourceSize</key>
                <string>{720,620}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{166,1331},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{166,1259},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{258,1259},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/frame_140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,36}</string>
                <key>textureRect</key>
                <string>{{230,1331},{60,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/icon_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{675,813},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/icon_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{371,1383},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/icon_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{675,623},{64,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04_01_Chat/icon_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{79,1259},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_01_Chat/picture_063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,38}</string>
                <key>spriteSourceSize</key>
                <string>{2,38}</string>
                <key>textureRect</key>
                <string>{{713,689},{2,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>04_01_Chat_1.pvr</string>
            <key>size</key>
            <string>{730,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07199d5016799eed3a2925b5ce64cf6f:7d4baca4e6e437dc18e1b9782f8b8c50:54cedbd04aa44ff891f39d42bb7870bb$</string>
            <key>textureFileName</key>
            <string>04_01_Chat_1.pvr</string>
        </dict>
    </dict>
</plist>
