<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Default/Button_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{97,45},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/Button_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{145,45},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/Button_Press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{199,33},{44,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Default/CheckBoxNode_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,93},{30,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Default/CheckBoxNode_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{25,93},{30,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Default/CheckBox_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{97,83},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/CheckBox_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{139,83},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/CheckBox_Press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{181,83},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/ImageFile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1,45},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/LoadingBarFile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,14}</string>
                <key>spriteSourceSize</key>
                <string>{200,14}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/SliderNode_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{49,93},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/SliderNode_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{203,1},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/SliderNode_Press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{71,93},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/Slider_Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,14}</string>
                <key>spriteSourceSize</key>
                <string>{200,14}</string>
                <key>textureRect</key>
                <string>{{1,17},{200,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/Slider_PressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,10}</string>
                <key>spriteSourceSize</key>
                <string>{200,14}</string>
                <key>textureRect</key>
                <string>{{1,33},{196,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Default/Sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{49,45},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>Default_1.pvr</string>
            <key>size</key>
            <string>{234,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:559c09259b41bfdc055c567f5171557b:fffe133b124dc65431ba053ee454a2db:9624cdb2fd16bf358f804871aa77cda0$</string>
            <key>textureFileName</key>
            <string>Default_1.pvr</string>
        </dict>
    </dict>
</plist>
