<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_10_Mail/button_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{42,92}</string>
                <key>textureRect</key>
                <string>{{445,289},{42,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_10_Mail/button_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{208,94}</string>
                <key>spriteSourceSize</key>
                <string>{208,98}</string>
                <key>textureRect</key>
                <string>{{275,1},{208,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_10_Mail/button_034_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{208,94}</string>
                <key>spriteSourceSize</key>
                <string>{208,98}</string>
                <key>textureRect</key>
                <string>{{275,97},{208,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_10_Mail/button_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{208,94}</string>
                <key>spriteSourceSize</key>
                <string>{208,98}</string>
                <key>textureRect</key>
                <string>{{275,193},{208,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_10_Mail/button_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{443,433},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_10_Mail/frame_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,136}</string>
                <key>spriteSourceSize</key>
                <string>{684,136}</string>
                <key>textureRect</key>
                <string>{{1,723},{684,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_10_Mail/frame_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{275,1331},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_10_Mail/frame_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,898}</string>
                <key>spriteSourceSize</key>
                <string>{48,898}</string>
                <key>textureRect</key>
                <string>{{441,467},{48,898}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_10_Mail/frame_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,142}</string>
                <key>spriteSourceSize</key>
                <string>{642,142}</string>
                <key>textureRect</key>
                <string>{{275,547},{642,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_10_Mail/frame_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{275,1191},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_10_Mail/frame_137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,242}</string>
                <key>spriteSourceSize</key>
                <string>{720,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_10_Mail/frame_139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{684,134}</string>
                <key>spriteSourceSize</key>
                <string>{684,136}</string>
                <key>textureRect</key>
                <string>{{139,723},{684,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_10_Mail/icon_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{335,1331},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_10_Mail/icon_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{245,1},{36,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_10_Mail/icon_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{443,383},{48,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_10_Mail/picture_006_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{164,84}</string>
                <key>spriteSourceSize</key>
                <string>{170,84}</string>
                <key>textureRect</key>
                <string>{{275,461},{164,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_10_Mail/picture_006_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{166,84}</string>
                <key>spriteSourceSize</key>
                <string>{170,84}</string>
                <key>textureRect</key>
                <string>{{275,375},{166,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_10_Mail/picture_006_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{168,84}</string>
                <key>spriteSourceSize</key>
                <string>{170,84}</string>
                <key>textureRect</key>
                <string>{{275,289},{168,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>01_10_Mail_1.pvr</string>
            <key>size</key>
            <string>{490,1408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2073f8a3e4d6480aa143365fc6a737b4:62929361674ec43e8a654868bc15a6a9:c9a6c226da49d33952ce4e9b3dd48ccb$</string>
            <key>textureFileName</key>
            <string>01_10_Mail_1.pvr</string>
        </dict>
    </dict>
</plist>
