<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00_01_Common/2D_Dice_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,365},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_1B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{323,365},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{109,365},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_2B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{217,365},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{431,365},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_3B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{539,365},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{647,365},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_4B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{661,205},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{755,365},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_5B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{769,201},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{877,201},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Dice_6B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{863,365},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Small_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1143,345},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Small_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1073,345},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Small_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1149,201},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Small_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1201,131},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Small_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1155,271},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/2D_Small_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1217,201},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1269,131},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_1B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1211,341},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_1C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{745,131},{68,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00_01_Common/3D_Dice_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1223,271},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_2B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1272,340},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_2C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{821,131},{68,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00_01_Common/3D_Dice_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1284,271},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_3B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1333,340},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_3C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{897,131},{68,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00_01_Common/3D_Dice_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1285,200},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_4B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1330,131},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_4C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{973,131},{68,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00_01_Common/3D_Dice_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1345,269},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_5B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1346,200},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1049,131},{68,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00_01_Common/3D_Dice_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1391,131},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_6B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{1394,338},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/3D_Dice_6C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1125,131},{68,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00_01_Common/button_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1013,307},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/button_092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,82}</string>
                <key>spriteSourceSize</key>
                <string>{150,84}</string>
                <key>textureRect</key>
                <string>{{661,53},{150,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00_01_Common/frame_142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{971,359},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/frame_144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{720,128}</string>
                <key>textureRect</key>
                <string>{{755,1},{720,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1181,415},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{963,309},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{743,313},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{104,60}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{985,201},{104,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00_01_Common/icon_062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{661,1},{90,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{661,313},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1452,131},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{911,309},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{1047,303},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{1083,303},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{1119,303},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{1073,415},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{1109,415},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{1145,415},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{795,309},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{853,309},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1277,409},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1343,409},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1409,407},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{971,461},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{991,461},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1011,461},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1031,461},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1215,410},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1407,200},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/icon_154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1406,269},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/picture_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1477,1},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/picture_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{745,53},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/picture_064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,362}</string>
                <key>spriteSourceSize</key>
                <string>{658,362}</string>
                <key>textureRect</key>
                <string>{{1,1},{658,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00_01_Common/picture_073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1047,201},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>00_01_Common_1.pvr</string>
            <key>size</key>
            <string>{1479,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0884af80b25765eb00ade021c58bdc4a:67810a8e36666c45b2cf264fc045cfc8:f16fd8561c7c4f86b39fa8a43717cd93$</string>
            <key>textureFileName</key>
            <string>00_01_Common_1.pvr</string>
        </dict>
    </dict>
</plist>
