<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_05_error/button_error_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{210,94}</string>
                <key>spriteSourceSize</key>
                <string>{216,100}</string>
                <key>textureRect</key>
                <string>{{1,369},{210,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_05_error/floor_error_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{500,300}</string>
                <key>spriteSourceSize</key>
                <string>{506,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_05_error/floor_error_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{426,64}</string>
                <key>spriteSourceSize</key>
                <string>{432,68}</string>
                <key>textureRect</key>
                <string>{{1,303},{426,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_05_error/icon_error_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{429,303},{62,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0_05_error.pvr</string>
            <key>size</key>
            <string>{502,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16042a07e95265cbe57390d00ecad300:ace20bd61efbf642bfc7399f80d6383b:dfb0aa96cd307a350e8aedaa79f16b6c$</string>
            <key>textureFileName</key>
            <string>0_05_error.pvr</string>
        </dict>
    </dict>
</plist>
