<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/106013/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{147,307},{108,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-28}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{147,421},{108,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-34}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{151,201},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-39}</string>
                <key>spriteSize</key>
                <string>{104,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,943},{104,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-42}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{107,1071},{104,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-43}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1141},{102,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-44}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{105,1167},{102,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-44}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1235},{102,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-44}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{105,1261},{102,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-43}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{153,105},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-42}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1043},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-41}</string>
                <key>spriteSize</key>
                <string>{104,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{107,971},{104,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-40}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{113,869},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{138,148}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,149},{138,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106013/0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{142,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,435},{142,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106013/0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{146,150}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106013/0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,289},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-9}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,579},{124,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106013/0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{124,126}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,705},{124,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106013/0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{133,641},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{129,755},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,831},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{153,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{147,535},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106013/0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88.5,88.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{249,641},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>106013_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,1354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28452c987f31abe1b010121067529e36:18971dd77f3a42ed8057aabb0fae1752:754f6f51f339e62f6be311769f76c30a$</string>
            <key>textureFileName</key>
            <string>106013_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
