<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_01_Login/button_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,92}</string>
                <key>spriteSourceSize</key>
                <string>{598,92}</string>
                <key>textureRect</key>
                <string>{{1040,1},{598,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_01_Login/button_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,92}</string>
                <key>spriteSourceSize</key>
                <string>{298,92}</string>
                <key>textureRect</key>
                <string>{{662,662},{298,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/button_079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{198,94}</string>
                <key>spriteSourceSize</key>
                <string>{198,98}</string>
                <key>textureRect</key>
                <string>{{962,662},{198,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_01_Login/frame_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{46,54}</string>
                <key>textureRect</key>
                <string>{{1040,601},{46,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_01_Login/frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,104}</string>
                <key>spriteSourceSize</key>
                <string>{594,104}</string>
                <key>textureRect</key>
                <string>{{1,765},{594,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/frame_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,90}</string>
                <key>spriteSourceSize</key>
                <string>{582,90}</string>
                <key>textureRect</key>
                <string>{{1,871},{582,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/frame_103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{732,838},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/icon_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{662,756},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/icon_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1096,601},{38,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_01_Login/icon_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{600,827},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/icon_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{744,756},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/icon_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{826,756},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/icon_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{908,756},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/icon_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{908,796},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/icon_066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{600,765},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/icon_076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,1}</string>
                <key>spriteSourceSize</key>
                <string>{148,1}</string>
                <key>textureRect</key>
                <string>{{597,765},{148,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_01_Login/icon_088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{650,838},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/picture_059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{812,838},{74,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_01_Login/picture_105_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{659,384}</string>
                <key>spriteSourceSize</key>
                <string>{659,384}</string>
                <key>textureRect</key>
                <string>{{1,1},{659,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/picture_105_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{659,376}</string>
                <key>spriteSourceSize</key>
                <string>{659,384}</string>
                <key>textureRect</key>
                <string>{{662,1},{659,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_01_Login/picture_105_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{659,376}</string>
                <key>spriteSourceSize</key>
                <string>{659,384}</string>
                <key>textureRect</key>
                <string>{{1,387},{659,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/strip_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,2}</string>
                <key>spriteSourceSize</key>
                <string>{90,2}</string>
                <key>textureRect</key>
                <string>{{1040,649},{90,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/strip_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,28}</string>
                <key>spriteSourceSize</key>
                <string>{636,28}</string>
                <key>textureRect</key>
                <string>{{1,963},{636,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_01_Login/strip_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,28}</string>
                <key>spriteSourceSize</key>
                <string>{636,28}</string>
                <key>textureRect</key>
                <string>{{1,993},{636,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>01_01_Login_1.pvr</string>
            <key>size</key>
            <string>{1133,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a2663a567309048c98e8bcfdb2230cc:b6deb295a741fdd7a1986c9809f6b902:fba664841eeeb3d9386a1149d425c7af$</string>
            <key>textureFileName</key>
            <string>01_01_Login_1.pvr</string>
        </dict>
    </dict>
</plist>
