<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_03_homepage/bg_homepage_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_03_homepage/button_homepage_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,192}</string>
                <key>spriteSourceSize</key>
                <string>{538,192}</string>
                <key>textureRect</key>
                <string>{{1,1627},{538,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_03_homepage/button_homepage_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{541,1627},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_03_homepage.pvr</string>
            <key>size</key>
            <string>{752,1820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:035a821862ce5807198b79c0cfd0ed75:b277a9653bad062e2fb1021eb83a909f:9cb27d446ce5dc781567debefac457f1$</string>
            <key>textureFileName</key>
            <string>1_03_homepage.pvr</string>
        </dict>
    </dict>
</plist>
