<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03_01_Shop/button_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{649,1128},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/button_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{210,80}</string>
                <key>spriteSourceSize</key>
                <string>{210,88}</string>
                <key>textureRect</key>
                <string>{{695,350},{210,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/button_007_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{210,80}</string>
                <key>spriteSourceSize</key>
                <string>{210,88}</string>
                <key>textureRect</key>
                <string>{{695,432},{210,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{158,80}</string>
                <key>spriteSourceSize</key>
                <string>{158,84}</string>
                <key>textureRect</key>
                <string>{{531,1230},{158,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{158,80}</string>
                <key>spriteSourceSize</key>
                <string>{158,84}</string>
                <key>textureRect</key>
                <string>{{531,1312},{158,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,278}</string>
                <key>spriteSourceSize</key>
                <string>{50,278}</string>
                <key>textureRect</key>
                <string>{{861,1070},{50,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/frame_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,84}</string>
                <key>spriteSourceSize</key>
                <string>{108,84}</string>
                <key>textureRect</key>
                <string>{{415,1228},{108,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/frame_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,28}</string>
                <key>spriteSourceSize</key>
                <string>{92,28}</string>
                <key>textureRect</key>
                <string>{{865,762},{92,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/frame_060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{415,1350},{114,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/frame_061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,166}</string>
                <key>spriteSourceSize</key>
                <string>{380,166}</string>
                <key>textureRect</key>
                <string>{{693,964},{380,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/frame_062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{791,1350},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/frame_116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{691,1350},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/frame_121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,167}</string>
                <key>spriteSourceSize</key>
                <string>{720,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/frame_122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,646}</string>
                <key>spriteSourceSize</key>
                <string>{580,646}</string>
                <key>textureRect</key>
                <string>{{1,646},{580,646}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/frame_212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{238,276}</string>
                <key>spriteSourceSize</key>
                <string>{238,278}</string>
                <key>textureRect</key>
                <string>{{1,1228},{238,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/frame_213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{210,80}</string>
                <key>spriteSourceSize</key>
                <string>{210,88}</string>
                <key>textureRect</key>
                <string>{{695,514},{210,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/icon_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{865,668},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/icon_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{865,700},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/icon_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{865,732},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/icon_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{861,1036},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/icon_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{865,856},{32,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/icon_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{649,1196},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/icon_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{649,1162},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/icon_064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{861,964},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/icon_065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{861,1000},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/icon_071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{695,170},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/icon_072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{695,206},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/picture_001_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,106}</string>
                <key>spriteSourceSize</key>
                <string>{214,106}</string>
                <key>textureRect</key>
                <string>{{695,242},{214,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/picture_001_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{192,106}</string>
                <key>spriteSourceSize</key>
                <string>{214,106}</string>
                <key>textureRect</key>
                <string>{{723,1},{192,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/picture_001_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{192,106}</string>
                <key>spriteSourceSize</key>
                <string>{214,106}</string>
                <key>textureRect</key>
                <string>{{723,109},{192,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/picture_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{692,236}</string>
                <key>spriteSourceSize</key>
                <string>{692,244}</string>
                <key>textureRect</key>
                <string>{{1,170},{692,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/picture_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{692,236}</string>
                <key>spriteSourceSize</key>
                <string>{692,244}</string>
                <key>textureRect</key>
                <string>{{1,408},{692,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/picture_051_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,70}</string>
                <key>spriteSourceSize</key>
                <string>{254,76}</string>
                <key>textureRect</key>
                <string>{{695,596},{200,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_01_Shop/picture_051_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,66}</string>
                <key>spriteSourceSize</key>
                <string>{254,76}</string>
                <key>textureRect</key>
                <string>{{279,1228},{230,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/picture_051_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,66}</string>
                <key>spriteSourceSize</key>
                <string>{254,76}</string>
                <key>textureRect</key>
                <string>{{347,1228},{230,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/picture_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{294,170}</string>
                <key>spriteSourceSize</key>
                <string>{304,176}</string>
                <key>textureRect</key>
                <string>{{693,668},{294,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/strip_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{460,22}</string>
                <key>spriteSourceSize</key>
                <string>{480,42}</string>
                <key>textureRect</key>
                <string>{{897,596},{460,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03_01_Shop/strip_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,42}</string>
                <key>spriteSourceSize</key>
                <string>{480,42}</string>
                <key>textureRect</key>
                <string>{{649,646},{480,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>03_01_Shop_1.pvr</string>
            <key>size</key>
            <string>{920,1471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc1d88cae327e83851f82a2f335aa87c:a94b7adf1d9af4dadc8d55dd8dd5d313:614d6be484007d0a8c67b9a615a81f7a$</string>
            <key>textureFileName</key>
            <string>03_01_Shop_1.pvr</string>
        </dict>
    </dict>
</plist>
