<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/100401/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/100401/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100401_1.pvr.ccz</string>
            <key>size</key>
            <string>{144,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55f0e4b8a5bd5c8a166752c438da4ee8:848ccb9e7e4aa56f4162e493b51f4eee:19a3c774910d00297c69c8ecdcf40719$</string>
            <key>textureFileName</key>
            <string>100401_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
