<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_02_Main/button_003_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,316}</string>
                <key>spriteSourceSize</key>
                <string>{582,316}</string>
                <key>textureRect</key>
                <string>{{1,921},{582,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_02_Main/button_003_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,316}</string>
                <key>spriteSourceSize</key>
                <string>{582,316}</string>
                <key>textureRect</key>
                <string>{{319,921},{582,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_02_Main/button_003_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,316}</string>
                <key>spriteSourceSize</key>
                <string>{582,316}</string>
                <key>textureRect</key>
                <string>{{1,1505},{582,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{785,595},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{773,657},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_046_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{683,621},{88,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_046_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{773,1131},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_046_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{773,1131},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_047_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{773,963},{70,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_02_Main/button_047_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{785,499},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_047_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{785,499},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_048_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{785,407},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_048_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{76,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{785,215},{76,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_048_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{76,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{785,311},{76,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_049_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{785,109},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_049_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{785,1},{72,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_049_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{785,1},{72,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_050_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{773,871},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_050_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{773,1231},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_050_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{771,1035},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_069_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{637,1175},{140,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_02_Main/button_069_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{132,146}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{637,1027},{132,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_069_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,138}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{629,1559},{104,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_02_Main/button_070_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{585,1681},{134,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_070_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,5}</string>
                <key>spriteSize</key>
                <string>{134,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{637,875},{134,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_070_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{104,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{637,1453},{104,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_02_Main/button_071_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{637,1317},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_071_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{146,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{555,723},{146,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/button_071_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{146,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{703,719},{146,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{721,1665},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/frame_063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,126}</string>
                <key>spriteSourceSize</key>
                <string>{720,126}</string>
                <key>textureRect</key>
                <string>{{555,1},{720,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_02_Main/frame_091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,42}</string>
                <key>spriteSourceSize</key>
                <string>{174,42}</string>
                <key>textureRect</key>
                <string>{{585,1505},{174,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_02_Main/frame_092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{618,100}</string>
                <key>spriteSourceSize</key>
                <string>{618,106}</string>
                <key>textureRect</key>
                <string>{{683,1},{618,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_02_Main/frame_128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,918}</string>
                <key>spriteSourceSize</key>
                <string>{162,918}</string>
                <key>textureRect</key>
                <string>{{391,1},{162,918}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/frame_133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,918}</string>
                <key>spriteSourceSize</key>
                <string>{388,918}</string>
                <key>textureRect</key>
                <string>{{1,1},{388,918}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/icon_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{807,1617},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/icon_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{769,1617},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/icon_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{605,875},{34,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_02_Main/icon_055_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,50}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{771,1401},{76,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/icon_055_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{74,48}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{779,1529},{74,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/icon_055_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{74,48}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{779,1529},{74,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/icon_077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{102,56}</string>
                <key>textureRect</key>
                <string>{{721,1775},{102,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/icon_078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,36}</string>
                <key>spriteSourceSize</key>
                <string>{102,56}</string>
                <key>textureRect</key>
                <string>{{769,1579},{88,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/icon_084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{771,1325},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/icon_085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{779,1453},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_02_Main/icon_086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{555,875},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>01_02_Main_1.pvr</string>
            <key>size</key>
            <string>{864,1830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df279c5b2abd62b18c2815f5c3558379:48461b998460ee75428b60fae2edd3c8:39fcb2d5df24ceb1af6795fe28efed5b$</string>
            <key>textureFileName</key>
            <string>01_02_Main_1.pvr</string>
        </dict>
    </dict>
</plist>
