<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_02_GuessSize/button_087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{146,98}</string>
                <key>textureRect</key>
                <string>{{1319,867},{138,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/button_088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,98}</string>
                <key>spriteSourceSize</key>
                <string>{146,98}</string>
                <key>textureRect</key>
                <string>{{805,921},{146,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/button_089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{138,92}</string>
                <key>spriteSourceSize</key>
                <string>{146,98}</string>
                <key>textureRect</key>
                <string>{{1511,789},{138,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/button_090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,98}</string>
                <key>spriteSourceSize</key>
                <string>{146,98}</string>
                <key>textureRect</key>
                <string>{{953,921},{146,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/button_091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,42}</string>
                <key>textureRect</key>
                <string>{{1685,889},{60,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/button_093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1715,933},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/button_094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1757,933},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/button_095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1715,975},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/button_096_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,124}</string>
                <key>spriteSourceSize</key>
                <string>{344,124}</string>
                <key>textureRect</key>
                <string>{{607,699},{344,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/button_096_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,124}</string>
                <key>spriteSourceSize</key>
                <string>{344,124}</string>
                <key>textureRect</key>
                <string>{{953,699},{344,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/button_096_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,124}</string>
                <key>spriteSourceSize</key>
                <string>{344,124}</string>
                <key>textureRect</key>
                <string>{{953,699},{344,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/frame_151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,406}</string>
                <key>spriteSourceSize</key>
                <string>{720,406}</string>
                <key>textureRect</key>
                <string>{{607,1},{720,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/frame_152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,98}</string>
                <key>spriteSourceSize</key>
                <string>{278,98}</string>
                <key>textureRect</key>
                <string>{{501,705},{278,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/frame_153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,102}</string>
                <key>spriteSourceSize</key>
                <string>{720,102}</string>
                <key>textureRect</key>
                <string>{{607,595},{720,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/frame_154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,184}</string>
                <key>spriteSourceSize</key>
                <string>{720,184}</string>
                <key>textureRect</key>
                <string>{{607,409},{720,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/frame_155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{552,196}</string>
                <key>spriteSourceSize</key>
                <string>{554,254}</string>
                <key>textureRect</key>
                <string>{{1329,1},{552,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/frame_156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,144}</string>
                <key>spriteSourceSize</key>
                <string>{356,144}</string>
                <key>textureRect</key>
                <string>{{1329,643},{356,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/frame_157.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,702}</string>
                <key>spriteSourceSize</key>
                <string>{604,702}</string>
                <key>textureRect</key>
                <string>{{1,1},{604,702}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/frame_158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{48,98}</string>
                <key>textureRect</key>
                <string>{{1101,921},{48,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/frame_159.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,36}</string>
                <key>spriteSourceSize</key>
                <string>{302,36}</string>
                <key>textureRect</key>
                <string>{{1863,199},{302,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/frame_160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,64}</string>
                <key>spriteSourceSize</key>
                <string>{338,64}</string>
                <key>textureRect</key>
                <string>{{601,825},{338,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/frame_161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,40}</string>
                <key>spriteSourceSize</key>
                <string>{456,44}</string>
                <key>textureRect</key>
                <string>{{1329,601},{456,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/frame_162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{58,36}</string>
                <key>textureRect</key>
                <string>{{1653,871},{58,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/frame_163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{498,300}</string>
                <key>spriteSourceSize</key>
                <string>{498,308}</string>
                <key>textureRect</key>
                <string>{{1,705},{498,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{1747,889},{42,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/icon_098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{877,891},{48,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{1299,781},{38,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/icon_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{1769,901},{48,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_101_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,28}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1299,699},{80,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/icon_101_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1861,849},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_101_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1861,849},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_102_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1651,789},{80,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/icon_102_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1863,691},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/icon_102_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1863,691},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/icon_103_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{72,28}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{501,985},{72,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_103_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1861,887},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_103_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1861,887},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_104_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{78,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1573,903},{78,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_104_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1863,733},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/icon_104_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{1863,733},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/icon_105_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1793,935},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_105_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1827,935},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_105_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1827,935},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_106_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1861,925},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_106_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1861,959},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_106_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1861,959},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1819,901},{32,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/icon_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1319,963},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1381,963},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1443,963},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/icon_111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1757,969},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_075_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,60}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1151,917},{94,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/picture_075_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1143,847},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_075_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1505,945},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_076_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{82,50}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1777,849},{82,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_076_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1575,937},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_076_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1645,937},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_077_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{601,913},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_077_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{194,102}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{1687,643},{194,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/picture_077_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{194,100}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{1217,825},{194,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/picture_078_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,40}</string>
                <key>spriteSourceSize</key>
                <string>{166,54}</string>
                <key>textureRect</key>
                <string>{{1459,903},{112,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_078_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{166,54}</string>
                <key>textureRect</key>
                <string>{{1685,839},{90,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_078_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{90,46}</string>
                <key>spriteSourceSize</key>
                <string>{166,54}</string>
                <key>textureRect</key>
                <string>{{1791,801},{90,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_079_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{190,76}</string>
                <key>spriteSourceSize</key>
                <string>{224,90}</string>
                <key>textureRect</key>
                <string>{{1319,789},{190,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_079_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{198,70}</string>
                <key>spriteSourceSize</key>
                <string>{224,90}</string>
                <key>textureRect</key>
                <string>{{1791,601},{198,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/picture_079_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{200,72}</string>
                <key>spriteSourceSize</key>
                <string>{224,90}</string>
                <key>textureRect</key>
                <string>{{941,847},{200,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_080_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{532,132}</string>
                <key>spriteSourceSize</key>
                <string>{534,138}</string>
                <key>textureRect</key>
                <string>{{1329,199},{532,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_080_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{532,132}</string>
                <key>spriteSourceSize</key>
                <string>{534,138}</string>
                <key>textureRect</key>
                <string>{{1329,333},{532,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/picture_080_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{532,132}</string>
                <key>spriteSourceSize</key>
                <string>{534,138}</string>
                <key>textureRect</key>
                <string>{{1329,467},{532,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/strip_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,18}</string>
                <key>spriteSourceSize</key>
                <string>{186,18}</string>
                <key>textureRect</key>
                <string>{{1863,503},{186,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_02_GuessSize/strip_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,18}</string>
                <key>spriteSourceSize</key>
                <string>{186,18}</string>
                <key>textureRect</key>
                <string>{{1459,883},{186,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/strip_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,20}</string>
                <key>spriteSourceSize</key>
                <string>{274,20}</string>
                <key>textureRect</key>
                <string>{{601,891},{274,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_02_GuessSize/strip_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,20}</string>
                <key>spriteSourceSize</key>
                <string>{274,20}</string>
                <key>textureRect</key>
                <string>{{941,825},{274,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>02_02_GuessSize_1.pvr</string>
            <key>size</key>
            <string>{1900,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23af2f351bc9fe380e8c01d73f918887:a2aa6ebfaa7700ef559f4be9e8c15c31:0bca1ddb084e4d4971d5245e45f10158$</string>
            <key>textureFileName</key>
            <string>02_02_GuessSize_1.pvr</string>
        </dict>
    </dict>
</plist>
