<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_01_Boast/button_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{107,2013},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/button_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{112,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,109}</string>
                <key>textureRect</key>
                <string>{{1935,1019},{112,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/button_015_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{112,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,109}</string>
                <key>textureRect</key>
                <string>{{1935,1116},{112,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/button_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{383,1973},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/button_062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{82,46}</string>
                <key>spriteSourceSize</key>
                <string>{82,48}</string>
                <key>textureRect</key>
                <string>{{1397,1143},{82,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/button_065_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1963,933},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/button_073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1567,1961},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/button_113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,104}</string>
                <key>spriteSourceSize</key>
                <string>{240,104}</string>
                <key>textureRect</key>
                <string>{{1339,1249},{240,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/button_114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,104}</string>
                <key>spriteSourceSize</key>
                <string>{240,104}</string>
                <key>textureRect</key>
                <string>{{953,1345},{240,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,284}</string>
                <key>spriteSourceSize</key>
                <string>{10,284}</string>
                <key>textureRect</key>
                <string>{{2033,689},{10,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,338}</string>
                <key>spriteSourceSize</key>
                <string>{484,338}</string>
                <key>textureRect</key>
                <string>{{1445,1201},{484,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,184}</string>
                <key>spriteSourceSize</key>
                <string>{720,184}</string>
                <key>textureRect</key>
                <string>{{1,625},{720,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,210}</string>
                <key>spriteSourceSize</key>
                <string>{516,210}</string>
                <key>textureRect</key>
                <string>{{1445,757},{516,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,104}</string>
                <key>spriteSourceSize</key>
                <string>{482,104}</string>
                <key>textureRect</key>
                <string>{{1,1541},{482,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/frame_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,182}</string>
                <key>spriteSourceSize</key>
                <string>{718,182}</string>
                <key>textureRect</key>
                <string>{{1,811},{718,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,144}</string>
                <key>spriteSourceSize</key>
                <string>{14,144}</string>
                <key>textureRect</key>
                <string>{{2033,515},{14,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,182}</string>
                <key>spriteSourceSize</key>
                <string>{718,182}</string>
                <key>textureRect</key>
                <string>{{1,995},{718,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,70}</string>
                <key>spriteSourceSize</key>
                <string>{146,70}</string>
                <key>textureRect</key>
                <string>{{1249,1177},{146,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,78}</string>
                <key>spriteSourceSize</key>
                <string>{308,78}</string>
                <key>textureRect</key>
                <string>{{1,1227},{308,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/frame_124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{344,120}</string>
                <key>spriteSourceSize</key>
                <string>{344,134}</string>
                <key>textureRect</key>
                <string>{{1925,1597},{344,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/frame_126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,622}</string>
                <key>spriteSourceSize</key>
                <string>{720,622}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,382}</string>
                <key>spriteSourceSize</key>
                <string>{720,382}</string>
                <key>textureRect</key>
                <string>{{723,623},{720,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,48}</string>
                <key>spriteSourceSize</key>
                <string>{168,48}</string>
                <key>textureRect</key>
                <string>{{1199,1177},{168,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/frame_146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,84}</string>
                <key>spriteSourceSize</key>
                <string>{254,84}</string>
                <key>textureRect</key>
                <string>{{1655,1961},{254,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,32}</string>
                <key>spriteSourceSize</key>
                <string>{102,32}</string>
                <key>textureRect</key>
                <string>{{175,2013},{102,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,46}</string>
                <key>spriteSourceSize</key>
                <string>{134,46}</string>
                <key>textureRect</key>
                <string>{{1397,1007},{134,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/frame_224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{586,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{1445,515},{586,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{596,254}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{1445,259},{596,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{598,256}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{1445,1},{598,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/frame_227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,720}</string>
                <key>spriteSourceSize</key>
                <string>{620,720}</string>
                <key>textureRect</key>
                <string>{{723,1},{620,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/icon_082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{2031,975},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/icon_083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{2033,661},{26,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/icon_155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{143,2013},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/icon_156_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1,1179},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/icon_156_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{49,1179},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/icon_156_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{49,1179},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/icon_157_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{317,2011},{32,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/icon_157_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{373,2011},{32,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,60}</string>
                <key>textureRect</key>
                <string>{{1053,1451},{138,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_003_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,116}</string>
                <key>spriteSourceSize</key>
                <string>{326,116}</string>
                <key>textureRect</key>
                <string>{{1931,1213},{326,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_010_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,48}</string>
                <key>spriteSourceSize</key>
                <string>{122,54}</string>
                <key>textureRect</key>
                <string>{{1309,1491},{122,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_010_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,54}</string>
                <key>spriteSourceSize</key>
                <string>{122,54}</string>
                <key>textureRect</key>
                <string>{{1925,1541},{122,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_060_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{76,52}</string>
                <key>spriteSourceSize</key>
                <string>{76,56}</string>
                <key>textureRect</key>
                <string>{{1195,1347},{76,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_060_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{76,52}</string>
                <key>spriteSourceSize</key>
                <string>{76,56}</string>
                <key>textureRect</key>
                <string>{{1195,1425},{76,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_061_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,234}</string>
                <key>spriteSourceSize</key>
                <string>{428,234}</string>
                <key>textureRect</key>
                <string>{{635,1541},{428,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_062_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-10}</string>
                <key>spriteSize</key>
                <string>{488,230}</string>
                <key>spriteSourceSize</key>
                <string>{504,250}</string>
                <key>textureRect</key>
                <string>{{1445,969},{488,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_062_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,250}</string>
                <key>spriteSourceSize</key>
                <string>{504,250}</string>
                <key>textureRect</key>
                <string>{{383,1541},{430,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_066_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{178,130}</string>
                <key>spriteSourceSize</key>
                <string>{210,150}</string>
                <key>textureRect</key>
                <string>{{821,1347},{178,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_068_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,120}</string>
                <key>spriteSourceSize</key>
                <string>{210,150}</string>
                <key>textureRect</key>
                <string>{{699,1347},{182,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_069_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{174,66}</string>
                <key>spriteSourceSize</key>
                <string>{210,150}</string>
                <key>textureRect</key>
                <string>{{1963,757},{174,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_069_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{100,88}</string>
                <key>spriteSourceSize</key>
                <string>{210,150}</string>
                <key>textureRect</key>
                <string>{{1911,1957},{100,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_069_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{210,150}</string>
                <key>textureRect</key>
                <string>{{953,1451},{98,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_070_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,144}</string>
                <key>spriteSourceSize</key>
                <string>{674,220}</string>
                <key>textureRect</key>
                <string>{{1779,1541},{414,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_071_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{674,168}</string>
                <key>spriteSourceSize</key>
                <string>{674,220}</string>
                <key>textureRect</key>
                <string>{{721,1007},{674,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_071_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{422,180}</string>
                <key>spriteSourceSize</key>
                <string>{674,220}</string>
                <key>textureRect</key>
                <string>{{871,1541},{422,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_071_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{422,144}</string>
                <key>spriteSourceSize</key>
                <string>{674,220}</string>
                <key>textureRect</key>
                <string>{{1053,1541},{422,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_072_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{468,132}</string>
                <key>spriteSourceSize</key>
                <string>{622,220}</string>
                <key>textureRect</key>
                <string>{{249,1541},{468,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_072_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,140}</string>
                <key>spriteSourceSize</key>
                <string>{622,220}</string>
                <key>textureRect</key>
                <string>{{107,1541},{470,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_081_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{422,138}</string>
                <key>spriteSourceSize</key>
                <string>{622,220}</string>
                <key>textureRect</key>
                <string>{{1199,1541},{422,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_081_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{422,118}</string>
                <key>spriteSourceSize</key>
                <string>{622,220}</string>
                <key>textureRect</key>
                <string>{{1339,1541},{422,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_130_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{316,82}</string>
                <key>spriteSourceSize</key>
                <string>{330,84}</string>
                <key>textureRect</key>
                <string>{{931,1965},{316,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_130_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{316,82}</string>
                <key>spriteSourceSize</key>
                <string>{330,84}</string>
                <key>textureRect</key>
                <string>{{1249,1965},{316,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_130_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{316,82}</string>
                <key>spriteSourceSize</key>
                <string>{330,84}</string>
                <key>textureRect</key>
                <string>{{1249,1965},{316,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_131_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{316,82}</string>
                <key>spriteSourceSize</key>
                <string>{330,84}</string>
                <key>textureRect</key>
                <string>{{877,1177},{316,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_131_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{316,82}</string>
                <key>spriteSourceSize</key>
                <string>{330,84}</string>
                <key>textureRect</key>
                <string>{{877,1261},{316,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_131_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{316,82}</string>
                <key>spriteSourceSize</key>
                <string>{330,84}</string>
                <key>textureRect</key>
                <string>{{877,1261},{316,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_133_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{162,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{597,1973},{162,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_134_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{290,58}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1249,1249},{290,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_134_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{166,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{429,1973},{166,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_134_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{166,76}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{799,1177},{166,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_135_zh_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{168,76}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{761,1971},{168,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_01_Boast/picture_135_zh_TW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{168,76}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{721,1177},{168,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{354,300}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{97,1179},{354,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{350,298}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{399,1179},{350,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-2}</string>
                <key>spriteSize</key>
                <string>{418,318}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1459,1541},{418,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1935,969},{22,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02_01_Boast/picture_140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{279,2011},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>02_01_Boast_1.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ab569315d429bf022d3a76a71fabc5c:04ce087929477a4ca4c8bc5212d933e1:7329392b8bd2572fd8e1b5b2720db55f$</string>
            <key>textureFileName</key>
            <string>02_01_Boast_1.pvr</string>
        </dict>
    </dict>
</plist>
