<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_18_Relief/button_078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{254,80}</string>
                <key>spriteSourceSize</key>
                <string>{254,88}</string>
                <key>textureRect</key>
                <string>{{433,391},{254,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_18_Relief/frame_119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-5}</string>
                <key>spriteSize</key>
                <string>{363,159}</string>
                <key>spriteSourceSize</key>
                <string>{387,169}</string>
                <key>textureRect</key>
                <string>{{613,391},{363,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_18_Relief/icon_068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{613,796},{32,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_18_Relief/icon_069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{669,756},{42,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_18_Relief/icon_070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{613,756},{38,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_18_Relief/picture_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,160}</string>
                <key>spriteSourceSize</key>
                <string>{610,160}</string>
                <key>textureRect</key>
                <string>{{1,680},{610,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_18_Relief/picture_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,276}</string>
                <key>spriteSourceSize</key>
                <string>{388,276}</string>
                <key>textureRect</key>
                <string>{{433,1},{388,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01_18_Relief/picture_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,677}</string>
                <key>spriteSourceSize</key>
                <string>{430,677}</string>
                <key>textureRect</key>
                <string>{{1,1},{430,677}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>01_18_Relief_1.pvr</string>
            <key>size</key>
            <string>{773,841}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:716cdce1f8559ba029167114f9fdec8a:71b4f94614ed8e98a69b6c573b4ae412:46d821e4fe981210feac86e6a6df3dd2$</string>
            <key>textureFileName</key>
            <string>01_18_Relief_1.pvr</string>
        </dict>
    </dict>
</plist>
