<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>picture/0040/103001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{178,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{203,285},{178,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0040/103002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{168,252}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{383,249},{168,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0040/103003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{178,246}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{383,1},{178,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0040/103004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{200,254}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{189,555},{200,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0040/103005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{180,274}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,831},{180,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picture/0040/103006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{186,282}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{195,1},{186,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0040/103007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{186,274}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,555},{186,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0040/103008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{200,268}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,285},{200,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0040/103009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{391,503},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0040/103010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{180,266}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{277,811},{180,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>picture/0040/103011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,282}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>040_1.pvr.ccz</string>
            <key>size</key>
            <string>{572,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1381dbeab242b4afff7e20baad93dc36:538cf6a527efd679c9896787be11979d:a334d61f06ee71cb9f65bf586cb56695$</string>
            <key>textureFileName</key>
            <string>040_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
