<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8_01_store/bg_store_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1,243},{750,1624}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8_01_store/bg_store_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1,995},{750,1624}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8_01_store/button_store_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{67,1},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8_01_store/button_store_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{212,80}</string>
                <key>spriteSourceSize</key>
                <string>{218,86}</string>
                <key>textureRect</key>
                <string>{{307,1},{212,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_01_store/button_store_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,84}</string>
                <key>textureRect</key>
                <string>{{521,1},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_01_store/button_store_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{164,84}</string>
                <key>textureRect</key>
                <string>{{683,1},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_01_store/button_store_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,84}</string>
                <key>textureRect</key>
                <string>{{845,1},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_01_store/button_store_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{164,84}</string>
                <key>textureRect</key>
                <string>{{1007,1},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_01_store/floor_store_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{240,280}</string>
                <key>spriteSourceSize</key>
                <string>{244,282}</string>
                <key>textureRect</key>
                <string>{{1343,1},{240,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8_01_store/icon_store_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{35,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_01_store/picture_store_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{145,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_01_store/picture_store_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_01_store/picture_store_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{111,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_01_store/picture_store_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,72}</string>
                <key>textureRect</key>
                <string>{{185,1},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_01_store/picture_store_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,114}</string>
                <key>spriteSourceSize</key>
                <string>{172,114}</string>
                <key>textureRect</key>
                <string>{{1169,1},{172,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>8_01_store.pvr</string>
            <key>size</key>
            <string>{1626,1746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d279a8338fbf3135173fbc28aa5e5646:3675c500b864f16a10c74ee05961166f:eb87117c3aea10e6ded1a51ff4bd1966$</string>
            <key>textureFileName</key>
            <string>8_01_store.pvr</string>
        </dict>
    </dict>
</plist>
