<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_01_fight/bg_fight_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1777,553},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,94}</string>
                <key>textureRect</key>
                <string>{{1483,1589},{112,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{685,1921},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{1579,1885},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1701,1851},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{963,1879},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,66}</string>
                <key>textureRect</key>
                <string>{{1649,1803},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{244,118}</string>
                <key>spriteSourceSize</key>
                <string>{252,124}</string>
                <key>textureRect</key>
                <string>{{753,1593},{244,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{144,94}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{1337,1589},{144,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,94}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{1553,1243},{144,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/button_fight_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,94}</string>
                <key>textureRect</key>
                <string>{{1269,1687},{112,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/button_fight_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,94}</string>
                <key>textureRect</key>
                <string>{{1483,1685},{112,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{1133,1687},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,98}</string>
                <key>spriteSourceSize</key>
                <string>{134,98}</string>
                <key>textureRect</key>
                <string>{{1009,1813},{134,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/button_fight_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,92}</string>
                <key>spriteSourceSize</key>
                <string>{182,92}</string>
                <key>textureRect</key>
                <string>{{999,1593},{182,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,146}</string>
                <key>spriteSourceSize</key>
                <string>{216,146}</string>
                <key>textureRect</key>
                <string>{{745,1713},{216,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,128}</string>
                <key>spriteSourceSize</key>
                <string>{388,128}</string>
                <key>textureRect</key>
                <string>{{1647,441},{388,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/floor_fight_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1174,1897},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,32}</string>
                <key>textureRect</key>
                <string>{{1777,441},{110,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/floor_fight_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{1647,1081},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{120,136}</string>
                <key>spriteSourceSize</key>
                <string>{122,136}</string>
                <key>textureRect</key>
                <string>{{1649,1225},{120,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,184}</string>
                <key>spriteSourceSize</key>
                <string>{740,184}</string>
                <key>textureRect</key>
                <string>{{753,411},{740,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/floor_fight_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,44}</string>
                <key>spriteSourceSize</key>
                <string>{164,44}</string>
                <key>textureRect</key>
                <string>{{963,1713},{164,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/floor_fight_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,124}</string>
                <key>spriteSourceSize</key>
                <string>{122,124}</string>
                <key>textureRect</key>
                <string>{{1009,1687},{122,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,184}</string>
                <key>spriteSourceSize</key>
                <string>{740,184}</string>
                <key>textureRect</key>
                <string>{{939,411},{740,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/floor_fight_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,58}</string>
                <key>textureRect</key>
                <string>{{1587,1527},{100,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{240,62}</string>
                <key>spriteSourceSize</key>
                <string>{244,68}</string>
                <key>textureRect</key>
                <string>{{443,1921},{240,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,104}</string>
                <key>textureRect</key>
                <string>{{1263,1801},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{742,152}</string>
                <key>spriteSourceSize</key>
                <string>{746,158}</string>
                <key>textureRect</key>
                <string>{{1125,411},{742,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/floor_fight_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{742,292}</string>
                <key>spriteSourceSize</key>
                <string>{746,298}</string>
                <key>textureRect</key>
                <string>{{1,1627},{742,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,54}</string>
                <key>spriteSourceSize</key>
                <string>{216,54}</string>
                <key>textureRect</key>
                <string>{{745,1861},{216,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,92}</string>
                <key>spriteSourceSize</key>
                <string>{216,92}</string>
                <key>textureRect</key>
                <string>{{225,1921},{216,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,92}</string>
                <key>spriteSourceSize</key>
                <string>{168,92}</string>
                <key>textureRect</key>
                <string>{{1553,1073},{168,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/floor_fight_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{152,92}</string>
                <key>spriteSourceSize</key>
                <string>{168,92}</string>
                <key>textureRect</key>
                <string>{{1183,1593},{152,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{851,1917},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{1145,1799},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{1365,1685},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,92}</string>
                <key>spriteSourceSize</key>
                <string>{222,92}</string>
                <key>textureRect</key>
                <string>{{1,1921},{222,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/floor_fight_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,190}</string>
                <key>spriteSourceSize</key>
                <string>{630,190}</string>
                <key>textureRect</key>
                <string>{{1455,441},{630,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/floor_fight_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,174}</string>
                <key>spriteSourceSize</key>
                <string>{680,174}</string>
                <key>textureRect</key>
                <string>{{1279,411},{680,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/frame_fight_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{751,1917},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/frame_fight_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1068,1913},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1367,1783},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{103,105}</string>
                <key>textureRect</key>
                <string>{{963,1913},{103,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1256,1907},{104,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/icon_fight_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1587,1419},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1693,1419},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1597,1587},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1597,1695},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1703,1527},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1703,1635},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1703,1743},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1367,1891},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{1473,1783},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/icon_fight_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,54}</string>
                <key>spriteSourceSize</key>
                <string>{122,54}</string>
                <key>textureRect</key>
                <string>{{1649,1363},{122,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/picture_fight_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{1279,1093},{54,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/picture_fight_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1777,589},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/picture_fight_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1777,625},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/picture_fight_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1753,1851},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/picture_fight_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,248}</string>
                <key>spriteSourceSize</key>
                <string>{160,248}</string>
                <key>textureRect</key>
                <string>{{1647,831},{160,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/picture_fight_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,330}</string>
                <key>spriteSourceSize</key>
                <string>{214,330}</string>
                <key>textureRect</key>
                <string>{{1337,1093},{214,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/picture_fight_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,248}</string>
                <key>spriteSourceSize</key>
                <string>{162,248}</string>
                <key>textureRect</key>
                <string>{{1337,1425},{162,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/picture_fight_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{1579,1949},{50,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/picture_fight_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{68,80}</string>
                <key>textureRect</key>
                <string>{{1579,1803},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/picture_fight_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{1791,1081},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/picture_fight_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{1473,1891},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/picture_fight_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,408}</string>
                <key>spriteSourceSize</key>
                <string>{712,408}</string>
                <key>textureRect</key>
                <string>{{753,1},{712,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01_fight/picture_fight_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{438,322}</string>
                <key>spriteSourceSize</key>
                <string>{440,442}</string>
                <key>textureRect</key>
                <string>{{753,1153},{438,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/picture_fight_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,344}</string>
                <key>spriteSourceSize</key>
                <string>{438,344}</string>
                <key>textureRect</key>
                <string>{{1467,1},{438,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_01_fight/picture_fight_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,258}</string>
                <key>spriteSourceSize</key>
                <string>{436,258}</string>
                <key>textureRect</key>
                <string>{{1077,1155},{436,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_01_fight.pvr</string>
            <key>size</key>
            <string>{1812,2019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9568977df16515749e607f9e328e8ce9:02cfa53756a90da2b8d36742e35593b9:50cd69fdf6c4f4aa3fa135bafd2d7a9a$</string>
            <key>textureFileName</key>
            <string>3_01_fight.pvr</string>
        </dict>
    </dict>
</plist>
