<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/106015/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{117,109},{108,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{231,109},{108,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{108,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{819,1},{108,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{355,1},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{108,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,109},{108,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{471,1},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{587,1},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{703,1},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{106,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{106,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{119,1},{106,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{106,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{237,1},{106,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106015/0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{867,111},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{124,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{385,227},{124,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,219},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{129,219},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{257,227},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{477,109},{128,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{607,109},{128,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{737,111},{128,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{130,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{345,109},{130,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{134,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{511,227},{134,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{134,122}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{647,229},{134,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{132,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{681,481},{132,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{132,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{815,481},{132,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{553,353},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{689,355},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{825,355},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,463},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{783,229},{136,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,337},{136,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{139,345},{136,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{137,471},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{273,471},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{409,473},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{277,345},{136,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{545,479},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106015/0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{415,347},{136,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>106015_1.pvr.ccz</string>
            <key>size</key>
            <string>{988,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c09731ae13530dd23b50ba199fb48530:d12cfeafd5bb483f9a4e2bbd2b5ff71c:786f70f9c02aa8ba819141c286eee987$</string>
            <key>textureFileName</key>
            <string>106015_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
