<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_02_rule/button_rule_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{663,683},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_02_rule/floor_rule_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{660,826}</string>
                <key>spriteSourceSize</key>
                <string>{668,832}</string>
                <key>textureRect</key>
                <string>{{1,1},{660,826}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_02_rule/picture_rule_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,1318}</string>
                <key>spriteSourceSize</key>
                <string>{592,1318}</string>
                <key>textureRect</key>
                <string>{{663,1},{592,1318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_02_rule/strip_rule_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,8}</string>
                <key>spriteSourceSize</key>
                <string>{86,8}</string>
                <key>textureRect</key>
                <string>{{663,595},{86,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_02_rule/strip_rule_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,12}</string>
                <key>spriteSourceSize</key>
                <string>{666,12}</string>
                <key>textureRect</key>
                <string>{{663,755},{666,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0_02_rule.pvr</string>
            <key>size</key>
            <string>{1982,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:965a0b0e15378345809c72d10749e9f1:2c86b0ffc81df1e16ca6c13dc57e4671:f24d91b15ec9115d88e90b8cd5db98dc$</string>
            <key>textureFileName</key>
            <string>0_02_rule.pvr</string>
        </dict>
    </dict>
</plist>
