<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>picture/0032/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-30}</string>
                <key>spriteSize</key>
                <string>{258,196}</string>
                <key>spriteSourceSize</key>
                <string>{336,320}</string>
                <key>textureRect</key>
                <string>{{1,213},{258,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture/0032/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{258,210}</string>
                <key>spriteSourceSize</key>
                <string>{336,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>032_1.pvr.ccz</string>
            <key>size</key>
            <string>{260,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc700c550d3d5bc3a4530851a010ea4:71d2f6f625bfbb05b395529a7af1fd6f:3bbdf659c95e2fdc366fdb18dd487ab8$</string>
            <key>textureFileName</key>
            <string>032_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
