<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/106003/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-22}</string>
                <key>spriteSize</key>
                <string>{120,110}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{751,1},{120,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-20}</string>
                <key>spriteSize</key>
                <string>{122,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1001,1},{122,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-18}</string>
                <key>spriteSize</key>
                <string>{122,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{127,111},{122,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-17}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1125,1},{124,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-16}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,111},{124,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-14}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{503,113},{122,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-14}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{627,113},{122,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-13}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{751,115},{122,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-14}</string>
                <key>spriteSize</key>
                <string>{124,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{377,113},{124,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-17}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{251,113},{124,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-19}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{873,1},{126,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-22}</string>
                <key>spriteSize</key>
                <string>{124,110}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{251,1},{124,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-22}</string>
                <key>spriteSize</key>
                <string>{124,110}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{377,1},{124,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-23}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-22}</string>
                <key>spriteSize</key>
                <string>{122,110}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{503,1},{122,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-22}</string>
                <key>spriteSize</key>
                <string>{122,110}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{627,1},{122,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-23}</string>
                <key>spriteSize</key>
                <string>{122,108}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{127,1},{122,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-19}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{875,115},{122,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/106003/0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-16}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{999,115},{120,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-13}</string>
                <key>spriteSize</key>
                <string>{120,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{283,231},{120,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-10}</string>
                <key>spriteSize</key>
                <string>{120,134}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{147,229},{120,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-7}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1123,117},{120,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-5}</string>
                <key>spriteSize</key>
                <string>{120,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,227},{120,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-2}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1061,239},{122,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{122,154}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{905,237},{122,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,2}</string>
                <key>spriteSize</key>
                <string>{122,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{745,233},{122,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,4}</string>
                <key>spriteSize</key>
                <string>{122,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{581,231},{122,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,6}</string>
                <key>spriteSize</key>
                <string>{122,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{413,231},{122,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,6}</string>
                <key>spriteSize</key>
                <string>{124,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,351},{124,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,6}</string>
                <key>spriteSize</key>
                <string>{126,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{171,353},{126,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,6}</string>
                <key>spriteSize</key>
                <string>{128,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{341,355},{128,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,6}</string>
                <key>spriteSize</key>
                <string>{130,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{511,355},{130,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,4}</string>
                <key>spriteSize</key>
                <string>{130,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{681,357},{130,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-9}</string>
                <key>spriteSize</key>
                <string>{132,136}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1127,363},{132,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{132,138}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{987,363},{132,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-7}</string>
                <key>spriteSize</key>
                <string>{132,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{845,361},{132,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/106003/0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-22}</string>
                <key>spriteSize</key>
                <string>{120,110}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{751,1},{120,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>106003_1.pvr.ccz</string>
            <key>size</key>
            <string>{1264,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be5a2d54fc71b65b595a7e74123aedbc:a9cfc22da970d968256c830aa9392027:afab97e0369b79ecd56354b20a8a92b8$</string>
            <key>textureFileName</key>
            <string>106003_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
